
<div id="store-nav-bar">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <img src=""/>
                <h3>store name</h3>
                
                <ul>
                    <li><a href="#">Store Home</a></li>
                    <li><a href="#">All Products</a></li>
                    <li><a href="#">Top Selling</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Store Coupon</a></li>
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>
            <div>
                <form id="formFind">
                    <div class="input-group border-0 form-sm pl-0 search-group bg-custom">
                        <input class="form-control my-0 py-1 border-0 bg-custom" type="text" placeholder="Search">
                        <div class="input-group-append">
                            <button class="input-group-text border-0 bg-custom">
                                <i class="fas fa-search text-grey"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
