@using CloudStorage
@model StoreThemeViewModel
@{
    var baseUrl = FileBuilder.BaseUrl();
}
<div id="store-nav-bar">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center my-2">
            @if (!string.IsNullOrEmpty(Model.StoreLogoFileName))
            {
                <img class="store-logo" src="@baseUrl/@Model.StoreLogoFileName" alt="@Model.StoreName" />
            }
            <h3 class="mb-0">@Model.StoreName</h3>
        </div>
    </div>

    <div class="links">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-9 col-lg-8">
                    <ul>
                        <li><a class="pl-0" href="#">Store Home</a></li>
                        <li><a href="#">All Products</a></li>
                        <li><a href="#">Top Selling</a></li>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Store Coupon</a></li>
                        <li><a href="#">Feedback</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <form id="formFind">
                        <div class="input-group border-0 form-sm pl-0 my-1 search-group bg-custom">
                            <input class="form-control my-0 py-1 border-0 bg-custom" type="text" placeholder="Search">
                            <div class="input-group-append">
                                <button class="input-group-text border-0 bg-custom">
                                    <i class="fas fa-search text-grey"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
