@model StoreThemeViewModel
@{
    ViewData["Title"] = Model.StoreName;
}

@section Styles{
    <style>
        body { background-color: #fff; }
        .serach-container { display: none }

        #store-name { color: #6F6F6F; font-size: 30px; font-weight: 700; margin-bottom: 0 }

        .search-group { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
        .bg-custom { background-color: #F9F9F9; }

        input:hover,
        input:active,
        input:focus,
        button:focus,
        button:active,
        button:hover,
        label:focus,
        .btn:active,
        .btn.active { outline: 0 !important; -webkit-appearance: none; box-shadow: none !important; }

        #coverImage { max-height: 700px; }
        #coverImage img { width: 100%; max-height: 700px; }

        .category-title { color: #6F6F6F; font-size: 25px; font-weight: bold; text-align: center; }

        .product-name { color: #6F6F6F; text-align: center; padding: 1rem 5px; }
        .product-name p { margin-bottom: 0; font-size: 15px }
    </style>
}


<div class="container my-4">
    <div class="row">
        <div class="col-lg-6">
            <h4 id="store-name">@Model.StoreName</h4>
        </div>
        <div class="col-lg-6 text-right">
            <form id="formFind">
                <div class="input-group border-0 form-sm pl-0 search-group bg-custom">
                    <input class="form-control my-0 py-1 border-0 bg-custom" type="text" placeholder="Search">
                    <div class="input-group-append">
                        <button class="input-group-text border-0 bg-custom">
                            <i class="fas fa-search text-grey"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.StoreBannerUrl))
{
    <div id="coverImage">
        <img src="@Model.StoreBannerUrl" alt="@Model.StoreName" />
    </div>
}


<section id="bannerImageApp" class="container mt-5">
    <store-product />
</section>


@section Scripts{
    <script src="@Url.Content("~/bundle/themeBannerImage.js")"></script>
}
