@using CloudStorage
@model StoreThemeViewModel
@{
    ViewData["Title"] = Model.StoreName;
    var baseUrl = FileBuilder.BaseUrl();
}

@section Styles{
    <link href="~/css-page/store-theme.css?v=1.0.0" rel="stylesheet" />
    <style>
        #store-name { color: #6F6F6F; font-size: 30px; font-weight: 700; margin-bottom: 0 }

        .search-group { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
        .bg-custom { background-color: #F9F9F9; }

        #coverImage img { width: 100%; max-height: 700px; object-fit: cover; }

        .category-title { color: #6F6F6F; font-size: 25px; font-weight: bold; text-align: center; }
        .product-info { color: #6F6F6F; text-align: center; }
        .card-img-top { max-height: 300px; }

        span.p-discount { color: #8F8F8F; font-size: 14px; text-decoration: line-through; }
    </style>
}


<partial name="../StoreThemes/_StoreNavbar.cshtml" model="Model" />

@if (!string.IsNullOrEmpty(Model.StoreBannerFileName))
{
    <div id="coverImage" class="mt-3">
        <img src="@baseUrl/@Model.StoreBannerFileName" alt="@Model.StoreName" />
    </div>
}


<section id="bannerImageApp" class="container mt-5">
    <store-product vendor-id="@Model.VendorId" />
</section>


@section Scripts{
    <script src="@Url.Content("~/bundle/themeBannerImage.js")"></script>
}
