@model StoreThemeViewModel
@{
    ViewData["Title"] = "d"; //Model.StoreName;
}

@section Styles{
    <link href="~/css-page/store-theme.css" rel="stylesheet" />

    <style>
        #store-name { color: #7C00C8; font-size: 30px; font-weight: 700; margin-bottom: 0 }

        .search-group { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
        .bg-custom { background-color: #F9F9F9; }

        #defaultApp .card { box-shadow: 0 2px 5px 0 rgba(244, 49, 108,.16),0 2px 10px 0 rgba(244, 49, 108,.12); }
        .category-title { color: #F4316C; font-size: 25px; font-weight: bold; text-align: center; }

        .product-name { color: #F4316C; text-align: center; padding: 1rem 5px; }
        .product-name p { margin-bottom: 0; font-size: 15px }
        span.p-discount { color: #8F8F8F; font-size: 14px; text-decoration: line-through; }
    </style>
}

<partial name="../StoreThemes/_StoreNavbar.cshtml"/>

<div class="container my-4">
    <div class="card card-body">
        <div class="row">
            <div class="col-lg-6">
                <h4 id="store-name">@Model.StoreName</h4>
            </div>
            <div class="col-lg-6 text-right">
                <form id="formFind">
                    <div class="input-group border-0 form-sm pl-0 search-group bg-custom">
                        <input class="form-control my-0 py-1 border-0 bg-custom" type="text" placeholder="Search">
                        <div class="input-group-append">
                            <button class="input-group-text border-0 bg-custom">
                                <i class="fas fa-search text-grey"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section id="defaultApp" class="container mt-5">
    <store-product vendor-id="@Model.VendorId" />
</section>


@section Scripts{
    <script src="@Url.Content("~/bundle/themeDefaults.js")"></script>
}
