@model StoreThemeViewModel
@{
    ViewData["Title"] = Model.StoreName;
}

@section Styles{
    <style>
        body { background-color: #fff; }
        .serach-container { display: none }

        #image-carousel .carousel-item { max-height: 600px; }
        #image-carousel .carousel-item img { height: 100% }

        #store-name { color: #074CB2; font-size: 30px; font-weight: 700; }

        .search-group { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); }
        .bg-custom { background-color: #F9F9F9; }

        input:hover,
        input:active,
        input:focus,
        button:focus,
        button:active,
        button:hover,
        label:focus,
        .btn:active,
        .btn.active { outline: 0 !important; -webkit-appearance: none; box-shadow: none !important; }

        .category-title { color: #074CB2; font-size: 25px; font-weight: bold; }
        .image-border { border: 1px solid #CFE2FF }

        .product-name { color: #074CB2; text-align: left; padding: 1rem 5px; }
        .product-name p { margin-bottom: 0; font-size: 15px }
    </style>
}

<div class="container my-4">
    <div class="row">
        <div class="col-lg-6">
            <h4 id="store-name">@Model.StoreName</h4>
        </div>
        <div class="col-lg-6 text-right">
            <form id="formFind">
                <div class="input-group border-0 form-sm pl-0 search-group bg-custom">
                    <input class="form-control my-0 py-1 border-0 bg-custom" type="text" placeholder="Search">
                    <div class="input-group-append">
                        <button class="input-group-text border-0 bg-custom">
                            <i class="fas fa-search text-grey"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    @if (Model.VendorStoreSlider.Any())
    {
        <div id="image-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                @{
                    var index = 0;

                    foreach (var img in Model.VendorStoreSlider)
                    {
                        <div class="carousel-item @(index == 0 ? "active":"")">
                            <img class="d-block w-100" src="@img.ImageUrl" alt="@Model.StoreName">
                        </div>

                        index++;
                    }
                }
            </div>

            <a class="carousel-control-prev" href="#image-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#image-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }
</div>

<div class="container mt-5">
    <h4 class="category-title mb-4">THE CATEGORY</h4>

    <div class="row">
        <div class="col-lg-3 col-6 mb-4">
            <div class="card z-depth-0">
                <div class="image-border view overlay rounded">
                    <img class="card-img-top" src="/images/products/1.webp" alt="">
                    <a href="#!"><div class="mask rgba-white-slight"></div></a>
                </div>

                <div class="product-name">
                    <p class="mb-0">Name of the product</p>
                    <strong>৳500</strong>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6 mb-4">
            <div class="card z-depth-0">
                <div class="image-border view overlay rounded">
                    <img class="card-img-top" src="/images/products/10.webp" alt="">
                    <a href="#!"><div class="mask rgba-white-slight"></div></a>
                </div>

                <div class="product-name">
                    <p class="mb-0">Name of the product</p>
                    <strong>৳500</strong>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6 mb-4">
            <div class="card z-depth-0">
                <div class="image-border view overlay rounded">
                    <img class="card-img-top" src="/images/products/2.webp" alt="">
                    <a href="#!"><div class="mask rgba-white-slight"></div></a>
                </div>

                <div class="product-name">
                    <p class="mb-0">Name of the product</p>
                    <strong>৳500</strong>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6 mb-4">
            <div class="card z-depth-0">
                <div class="image-border view overlay rounded">
                    <img class="card-img-top" src="/images/products/9.webp" alt="">
                    <a href="#!"><div class="mask rgba-white-slight"></div></a>
                </div>

                <div class="product-name">
                    <p class="mb-0">Name of the product</p>
                    <strong>৳500</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-6 mb-4">
            <div class="card z-depth-0">
                <div class="image-border view overlay rounded">
                    <img class="card-img-top" src="/images/products/8.webp" alt="">
                    <a href="#!"><div class="mask rgba-white-slight"></div></a>
                </div>

                <div class="product-name">
                    <p class="mb-0">Name of the product</p>
                    <strong>৳500</strong>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6 mb-4">
            <div class="card z-depth-0">
                <div class="image-border view overlay rounded">
                    <img class="card-img-top" src="/images/products/7.webp" alt="">
                    <a href="#!"><div class="mask rgba-white-slight"></div></a>
                </div>

                <div class="product-name">
                    <p class="mb-0">Name of the product</p>
                    <strong>৳500</strong>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6 mb-4">
            <div class="card z-depth-0">
                <div class="image-border view overlay rounded">
                    <img class="card-img-top" src="/images/products/5.webp" alt="">
                    <a href="#!"><div class="mask rgba-white-slight"></div></a>
                </div>

                <div class="product-name">
                    <p class="mb-0">Name of the product</p>
                    <strong>৳500</strong>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6 mb-4">
            <div class="card z-depth-0">
                <div class="image-border view overlay rounded">
                    <img class="card-img-top" src="/images/products/4.webp" alt="">
                    <a href="#!"><div class="mask rgba-white-slight"></div></a>
                </div>

                <div class="product-name">
                    <p class="mb-0">Name of the product</p>
                    <strong>৳500</strong>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
    </script>
}
