@using eSuperShop.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        @if (User.IsInRole(UserType.Customer.GetDescription()))
        {
            <a class="nav-link" href="/Customer/Dashboard" title="Dashboard">Hello, @User.Identity.Name!</a>
        }
        else if (User.IsInRole(UserType.Seller.GetDescription()))
        {
            <a class="nav-link" href="/Dashboard/Seller" title="Dashboard">Hello, @User.Identity.Name!</a>
        }
        else
        {
            <a class="nav-link" href="/Dashboard/Index" title="Dashboard">Hello, @User.Identity.Name!</a>
        }
    </li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                <i class="fal fa-sign-out-alt"></i>
                Logout
            </a>
        </form>
    </li>
}
else
{
    <li class="nav-item" id="sellerArea">
        <div class="dropdown">
            <a href="" id="sellerLoginOptions" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fal fa-cart-plus mr-1"></i>Sell on E-superShop</a>
            <div class="dropdown-menu" aria-labelledby="sellerLoginOptions">
                <a href="/Account/Login" class="dropdown-item"><i class="fas fa-sign-in-alt"></i> Seller Login</a>
                <a href="/Seller/Registration" class="dropdown-item"><i class="fas fa-user-plus"></i> Seller Registration</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Account/CustomerRegistration"><i class="fal fa-user mr-1"></i>Join</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Account/CustomerLogin"><i class="fal fa-sign-in mr-1"></i>Login</a>
    </li>
}

