@using CloudStorage
@model BrandModel
@{
    ViewData["Title"] = "Update Brand";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var baseUrl = FileBuilder.BaseUrl();
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h4 class="page-header mb-3">Update Brand</h4>

            <div class="card card-body">
                <form id="formUpdate">
                    <input name="BrandId" type="hidden" value="@Model.BrandId">
                    <div class="md-form">
                        <label for="inputBrandName">Brand Name</label>
                        <input id="inputBrandName" name="Name" value="@Model.Name" type="text" class="form-control" required>
                    </div>

                    <div class="md-form mt-5">
                        <div class="file-field">
                            <div class="btn btn-outline-danger btn-rounded btn-sm float-left">
                                <span>Choose Logo<i class="fas fa-upload ml-3" aria-hidden="true"></i></span>
                                <input name="fileLogo" type="file" accept="image/*">
                                <input name="LogoFileName" type="hidden" value="@Model.LogoFileName">
                            </div>
                            <div class="file-path-wrapper">
                                <input id="filePath" class="file-path validate" type="text" placeholder="Upload Logo" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <div class="mb-3">
                            <img id="prevImage" src="@baseUrl/@Model.LogoFileName" alt="@Model.Name" style="width: 100px">
                        </div>
                        <input id="btnSubmit" type="submit" value="Submit" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        //set image file
        $('input[type="file"]').change(function (e) {
            const pathInput = e.target.parentElement.parentElement.querySelector(".file-path");
            const size = e.target.files[0].size / 1024 / 1024;
            const allowSize = 2;
            const regex = new RegExp("(.*?)\.(jpeg|jpg|png|webp)$");


            if (!(regex.test(e.target.value.toLowerCase()))) {
                e.target.value = "";
                pathInput.value = "";

                $(pathInput).notify("Please select image file", { position: "bottom left" });
                return;
            }

            if (size > allowSize) {
                e.target.value = "";
                pathInput.value = "";
                $(pathInput).notify(`image size must be less than ${allowSize}MB. your file size:${size.toFixed()} MB`, { position: "bottom left" });
                return;
            }

            let fileName = "";
            for (let i = 0; i <= e.target.files.length - 1; i++) {
                fileName += i > 0 ? `, ${e.target.files[i].name}` : e.target.files[i].name;
            }

            pathInput.value = fileName;
            readURL(this);
        });

        //preview image
        function readURL(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
    
                reader.onload = function(e) {
                    $('#prevImage').attr('src', e.target.result);
                }
    
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }


        //update brand
        const formUpdate = document.getElementById("formUpdate");
        formUpdate.addEventListener('submit', function (evt) {

            evt.preventDefault()

            const formData = new FormData(this);
            const btn = this.btnSubmit;

            loadingBtn(btn, true);

            $.ajax({
                type: "POST",
                url: "/Brand/UpdateBrand",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $.notify(response.Message, response.IsSuccess ? "success" : "error");

                    if (response.IsSuccess) {
                        location.href = "/Brand/Add";
                        return;
                    }

                    loadingBtn(btn, false);
                },
                error: function (err) {
                    console.log(err);
                    loadingBtn(btn, false);
                }
            });
        });

        //btn loading
        function loadingBtn(btn, isLoading) {
            btn.disabled = isLoading;
            btn.value = isLoading ? "submitting..." : "submit";
        }
    </script>
}


