@{
    ViewData["Title"] = "Products";
}

@section Styles{
    <link href="~/css-page/products.css?v=.10" rel="stylesheet" type="text/css" />
}

<div class="container">
    <ol class="breadcrumb grey lighten-3">
        <li class="breadcrumb-item">
            <a class="black-text" href="#">Home</a><i class="fas fa-angle-double-right mx-2"></i>
        </li>
        <li class="breadcrumb-item">
            <a class="black-text" href="#">Library</a><i class="fas fa-angle-double-right mx-2"></i>
        </li>
        <li class="breadcrumb-item active">Data</li>
    </ol>

    <div class="row">
        <div class="col-lg-3 mb-3">
            <div id="filter-side" class="card card-body h-100">
                <h5>Related Categories</h5>
                <ul>
                    <li>
                        <a href="/Category/Products/men-clothing">Men's Clothing</a>
                    </li>
                    <li>
                        <a href="/Category/Products/women-clothing">Women's Fashion</a>
                    </li>
                    <li>
                        <a href="/Category/Products/cellphones-telecommunications">Cellphones &amp; Telecommunications</a>
                    </li>
                    <li>
                        <a href="/Category/Products/bags-shoes">Bags &amp; Shoes</a>
                    </li>
                    <li>
                        <a href="/Category/Products/jewelry-watches">Jewelry &amp; Watches</a>
                    </li>
                    <li>
                        <a href="/Category/Products/automobiles-motorcycles">Automobiles &amp; Motorcycles</a>
                    </li>
                    <li>
                        <a href="/Category/Products/beauty-health">Beauty &amp; Health</a>
                    </li>
                    <li>
                        <a href="/Category/Products/computer-office">Computer &amp; Office</a>
                    </li>
                    <li>
                        <a href="/Category/Products/consumer-electronics">Consumer Electronics</a>
                    </li>
                    <li>
                        <a href="/Category/Products/home-improvement">Home Improvement</a>
                    </li>
                    <li>
                        <a href="/Category/Products/sports-entertainment">Sports &amp; Entertainment</a>
                    </li>
                </ul>

                <h5 class="mt-4">Brand</h5>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="1">
                    <label class="form-check-label" for="1">Nokia</label>
                </div>
                <div class="form-check my-2">
                    <input type="checkbox" class="form-check-input" id="2">
                    <label class="form-check-label" for="2">Samsung</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="3">
                    <label class="form-check-label" for="3">Xaomi</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="4">
                    <label class="form-check-label" for="4">iPhone</label>
                </div>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card hoverable mb-4">
                        <div class="view overlay">
                            <img class="card-img-top" src="/images/products/1.webp" alt="product">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="product-name">
                                In Stock Global Amazfit Bip Lite Water...
                            </p>
                            <div class="pricing-area">
                                <div class="p-price">
                                    <span>৳8500</span>
                                </div>
                                <div class="p-rating text-right">
                                    <small class="text-muted">500 sold</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card hoverable mb-4">
                        <div class="view overlay">
                            <img class="card-img-top" src="/images/products/2.webp" alt="product">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="product-name">
                                In Stock Global Amazfit Bip Lite Water...
                            </p>
                            <div class="pricing-area">
                                <div class="p-price">
                                    <span>৳8500</span>
                                </div>
                                <div class="p-rating text-right">
                                    <small class="text-muted">500 sold</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card hoverable mb-4">
                        <div class="view overlay">
                            <img class="card-img-top" src="/images/products/3.jpg" alt="product">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="product-name">
                                In Stock Global Amazfit Bip Lite Water...
                            </p>
                            <div class="pricing-area">
                                <div class="p-price">
                                    <span>৳8500</span>
                                </div>
                                <div class="p-rating text-right">
                                    <small class="text-muted">500 sold</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card hoverable mb-4">
                        <div class="view overlay">
                            <img class="card-img-top" src="/images/products/4.webp" alt="product">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="product-name">
                                In Stock Global Amazfit Bip Lite Water...
                            </p>
                            <div class="pricing-area">
                                <div class="p-price">
                                    <span>৳8500</span>
                                </div>
                                <div class="p-rating text-right">
                                    <small class="text-muted">500 sold</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card hoverable mb-3">
                        <div class="view overlay">
                            <img class="card-img-top" src="/images/products/1.webp" alt="product">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="product-name">
                                In Stock Global Amazfit Bip Lite Water...
                            </p>
                            <div class="pricing-area">
                                <div class="p-price">
                                    <span>৳8500</span>
                                </div>
                                <div class="p-rating text-right">
                                    <small class="text-muted">500 sold</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card hoverable mb-3">
                        <div class="view overlay">
                            <img class="card-img-top" src="/images/products/2.webp" alt="product">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="product-name">
                                In Stock Global Amazfit Bip Lite Water...
                            </p>
                            <div class="pricing-area">
                                <div class="p-price">
                                    <span>৳8500</span>
                                </div>
                                <div class="p-rating text-right">
                                    <small class="text-muted">500 sold</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card hoverable mb-3">
                        <div class="view overlay">
                            <img class="card-img-top" src="/images/products/3.jpg" alt="product">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="product-name">
                                In Stock Global Amazfit Bip Lite Water...
                            </p>
                            <div class="pricing-area">
                                <div class="p-price">
                                    <span>৳8500</span>
                                </div>
                                <div class="p-rating text-right">
                                    <small class="text-muted">500 sold</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card hoverable mb-3">
                        <div class="view overlay">
                            <img class="card-img-top" src="/images/products/4.webp" alt="product">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="product-name">
                                In Stock Global Amazfit Bip Lite Water...
                            </p>
                            <div class="pricing-area">
                                <div class="p-price">
                                    <span>৳8500</span>
                                </div>
                                <div class="p-rating text-right">
                                    <small class="text-muted">500 sold</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>