@{
    ViewData["Title"] = "Products";
}

@section Styles{
    <link href="~/css-page/products.css" rel="stylesheet" type="text/css"/>
}

<div id="categoryProduct" class="container">
    <category-product slug-url="@ViewBag.slugUrl"></category-product>
</div>

@section Scripts{
    <script src="@Url.Content("~/bundle/Product-Catalog.js")"></script>
}
