@{
    ViewData["Title"] = "Products";
}

@section Styles{
    <link href="~/css-page/products.css?v=1" rel="stylesheet" type="text/css"/>
    <link href="~/css-page/loading-screen.css?v=1" rel="stylesheet" />
    <style>
        .filter-rating span { width: auto; }
    </style>  
}

<div id="categoryProduct" class="container">
    <category-product slug-url="@ViewBag.slugUrl"></category-product>
</div>

@section Scripts{
    <script src="@Url.Content("~/bundle/Product-Catalog.js")"></script>
    <script>
        $(document).ready(function() {
            const $valueSpan = $('.valueSpan');
            const $value = $('#ratingSlider');

            $valueSpan.html($value.val());
            $value.on('input change', () => {
                $valueSpan.html($value.val());
            });
        });
    </script>
}
