
@{
    ViewData["Title"] = "Shipping Cost";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h4 class="page-header mb-3">Shipping Cost</h4>

    <form id="formAdd">
        <div class="card card-body mb-4">
           Inside Dhaka
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Basic Cost</label>
                        <input type="number" name="" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Basic Delivery Cost Quantity</label>
                        <input type="number" name="" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Additional Delivery Cost Per Product</label>
                        <input type="number" name="" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body mb-4">
            <h5 class="font-weight-bold mb-3">Outside Dhaka</h5>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Basic Cost</label>
                        <input type="number" name="" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Basic Delivery Cost Quantity</label>
                        <input type="number" name="" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Additional Delivery Cost Per Product</label>
                        <input type="number" name="" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Return Within (days)</label>
                        <input type="number" name="" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Delivery Within (days)</label>
                        <input type="number" name="" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group pt-4">
                        <input type="submit" name="btnSubmit" class="btn btn-danger btn-md" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        (function() {
            const serializeForm = function(form) {
                const obj = {}, formData = new FormData(form);
                for (let key of formData.keys()) {
                    obj[key] = formData.get(key);
                }
                return obj;
            };

            $.ajax({
                type: "POST",
                url: `/`,
                data: serializeForm(this),
                success: function(response) {
                    $.notify(response.Message, response.IsSuccess ? "success" : "error");

                    if (response.IsSuccess) {

                        return;
                    }

                    disabledBtn(btn, false);
                },
                error: function(err) {
                    disabledBtn(btn, false);
                    console.log(err);
                }
            });

            //btn disabled
            function disabledBtn(btn, isLoading) {
                btn.disabled = isLoading;
            }
        })()
    </script>
}
