@model CatalogAddModel
@{
    ViewData["Title"] = "Update Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h4 class="page-header my-3">Update Category</h4>
            <div class="card card-body">
                <form enctype="multipart/form-data" asp-action="Update">
                    <input type="hidden" name="ParentCatalogId" value="@Model.ParentCatalogId" />
                    <div class="md-form">
                        <select searchable="Find Category" name="ParentCatalogId" asp-items="ViewBag.ParentCatalog" class="mdb-select">
                            <option value="">Parent Category</option>
                        </select>
                    </div>
                    <div class="md-form my-5">
                        <label for="CatalogName">Category Name</label>
                        <input type="text" asp-for="CatalogName" class="form-control" required>
                        <span asp-validation-for="CatalogName" class="field-validation-error"></span>
                    </div>
                    <div class="md-form">
                        <label for="SlugUrl">Slug Url (allow: a-z, 0-9, -, %)</label>
                        <input type="text" asp-for="SlugUrl" pattern="^[a-z0-9]+(?:-[a-z0-9%]+)*$" class="form-control" required>
                        <span asp-validation-for="SlugUrl" class="field-validation-error"></span>
                    </div>
                    <div class="md-form my-5">
                        <label for="inputDisplayOrder">Display Order</label>
                        <input type="number" required name="DisplayOrder" id="inputDisplayOrder" class="form-control">
                    </div>
                    <div class="md-form">
                        <div class="file-field">
                            <div class="btn btn-outline-danger btn-rounded btn-sm float-left">
                                <span>Choose Image<i class="fas fa-upload ml-3" aria-hidden="true"></i></span>
                                <input id="fileImage" name="image" type="file" accept="image/*">
                            </div>
                            <div class="file-path-wrapper">
                                <input id="filePath" class="file-path validate" type="text" placeholder="Upload Category Image" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <input type="submit" value="Update" class="btn btn-danger"/>
                        <a href="/Category/Index"><i class="far fa-long-arrow-alt-left mr-1"></i>Back to List</a>
                    </div>
                    @Html.ValidationMessage("dbCustomError")
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        // Material Select Initialization
        $(function () {
            $('.mdb-select').materialSelect();

            //check image data
            $('input[type="file"]').change(function (e) {
                const pathInput = e.target.parentElement.parentElement.querySelector(".file-path");
                const size = e.target.files[0].size / 1024 / 1024;
                const allowSize = 1;
                const regex = new RegExp("(.*?)\.(jpeg|jpg|png|webp)$");


                if (!(regex.test(e.target.value.toLowerCase()))) {
                    e.target.value = "";
                    pathInput.value = "";

                    $(pathInput).notify("Please select image file", { position: "bottom left" });
                    return;
                }

                if (size > allowSize) {
                    e.target.value = "";
                    pathInput.value = "";
                    $(pathInput).notify(`image size must be less than ${allowSize}MB. your file size:${size.toFixed()} MB`, { position: "bottom left" });
                    return;
                }

                let fileName = "";
                for (let i = 0; i <= e.target.files.length - 1; i++) {
                    fileName += i > 0 ? `, ${e.target.files[i].name}` : e.target.files[i].name;
                }
                pathInput.value = fileName;
            });
        });
    </script>
}

