@using eSuperShop.Repository
@model IEnumerable<ProductUnpublishedModel>

@{
    ViewData["Title"] = "Un-Published Product";
    Layout = "_SellerLayout";
}


<div class="m-md-3">
    <h4 class="page-header mb-3">Un-Published Product</h4>
    <div class="card card-body">
        <table class="table table-md">
            <thead>
                <tr>
                    <th><strong>Product</strong></th>
                    <th><strong>Brand</strong></th>
                    <th class="text-center"><strong>Price</strong></th>
                    <th><strong>Publish</strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p class="mb-0">@item.Name</p>
                            <small class="text-muted">@item.CatalogName</small>
                        </td>
                        <td>@item.BrandName</td>
                        <td class="text-center">@item.Price</td>
                        <td>
                            <a class="blue-text" href="/StoreProduct/AddProductStock/@item.ProductId">
                                Details<i class="ml-1 far fa-long-arrow-alt-right"></i>
                            </a>
                            <em class="d-block">add stock, publish</em>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
