@{
    ViewData["Title"] = "Add Brand";
    Layout = "_AdminLayout";
}

@section Styles{
    <style>
        .logo { width: 50px; }
    </style>    
}


<div class="container">
    <h4 class="page-header mb-3">Product Brand</h4>
    
    <div class="card card-body">
        <form id="formAdd">
            <div class="row align-items-center mb-3">
                <div class="col-lg-4">
                    <div class="md-form">
                        <label for="inputBrandName">Brand Name</label>
                        <input id="inputBrandName" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="md-form">
                        <div class="file-field">
                            <div class="btn btn-outline-danger btn-rounded btn-sm float-left">
                                <span>Choose Logo<i class="fas fa-upload ml-3" aria-hidden="true"></i></span>
                                <input id="fileImage" name="image" type="file" accept="image/*">
                            </div>
                            <div class="file-path-wrapper">
                                <input id="filePath" class="file-path validate" type="text" placeholder="Upload Logo" autocomplete="off">
                            </div>
                        </div>
                        <span id="imageError" class="field-validation-error"></span>
                    </div>
                </div>
                <div class="col-lg-3 text-right">
                    <img id="prevImage" alt="" style="width: 40px">
                    <input id="btnSubmit" type="submit" value="Add" class="btn btn-danger" />
                    @Html.ValidationMessage("dbCustomError")
                </div>
            </div>
        </form>
      
        <table id="brand-table" class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th><strong>Brand Name</strong></th>
                    <th style="width: 50px"><strong>Logo</strong></th>
                    <th style="width: 30px"><strong>Delete</strong></th>
                </tr>
            </thead>
        </table>
    </div>
</div>



<!-- image crop modal -->
<div class="modal fade" id="cropImageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <div class="modal-content text-center">
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Crop Logo</p>
            </div>
            <div class="modal-body">
                <div id="upload-demo"></div>
            </div>
            <div class="modal-footer flex-center">
                <button id="btnCrop" type="button" class="btn  btn-danger waves-effect">CROP</button>
                <button class="btn btn-outline-danger" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(function() {
            $('.mdb-select').materialSelect();
            dataTable.getData();
        });

        //get data
        var dataTable = {
            table: null,
            init: function() {
                dataTable.table = $("#brand-table").DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "/Product/GetBrand",
                        type: "POST"
                    },
                    columns:
                    [
                        { data: "Name" },
                        {
                            data: "LogoUrl", "render": function(data, type, row, meta) {
                                return `<img src="${data}" class="logo">`;
                            }
                        },
                        {
                            data: "BrandId", "render": function(data, type, row, meta) {
                                return `<a class="delete far fa-trash-alt" data-image="${row.LogoUrl}" data-id="${data}"></a>`
                            }
                        }
                    ],
                    columnDefs: [
                        { 'searchable': false, 'targets': [1, 2] },
                        { 'sortable': false, 'targets': [1, 2] },
                        { 'className': "text-center", "targets": [1, 2] }
                    ]
                });
            },
            operand: {
                Equal: 0,
                NotEqual: 1,
                GreaterThan: 2,
                LessThan: 3,
                GreaterThanOrEqual: 4,
                LessThanOrEqual: 5,
                Contains: 6,
                StartsWith: 7,
                EndsWith: 8
            },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            },
            addSign: function(data) { return `${data}/-` }
        }


        //global variable
        const formData = new FormData();
        const imageError = $("#imageError");
        const previewImage = $('#prevImage');
        const cropImageModal = $('#cropImageModal');
        const btnCrop = $('#btnCrop');
        const cropImage = $('#upload-demo').croppie({
            viewport: { width: 160, height: 160 },
            boundary: { width: 180, height: 180 }
        });

        //set image file
        $('#fileImage').change(function(e) {
            imageError.text("");

            const pathInput = $('#filePath');
            const size = e.target.files[0].size / 1024 / 1024;
            const allowSize = 1;
            const regex = new RegExp("(.*?)\.(jpeg|jpg|png|webp)$");

            if (!(regex.test(e.target.value.toLowerCase()))) {
                e.target.value = "";
                pathInput.val("");

                imageError.text(`Please select correct file format`);
                return;
            }

            if (size > allowSize) {
                e.target.value = "";
                pathInput.val("");

                imageError.text(`image size must be less than ${allowSize}MB. your file size:${size.toFixed()} MB`);
                return;
            }

            pathInput.val(e.target.files[0].name);
            readFile(this);
        });

        //crop done
        btnCrop.on('click', function() {
            cropImage.croppie('result', { type: 'blob' }).then(function(res) {
                previewImage.attr('src', URL.createObjectURL(res));

                formData.append("logo", res, $('#filePath').val());
                cropImageModal.modal('hide');
            });
        });

        //read file
        function readFile(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.readAsDataURL(input.files[0]);

                reader.onload = function(e) {
                    cropImage.croppie('bind', { url: e.target.result }).then(function() {
                        $('.cr-slider').attr({ 'min': 0.5000, 'max': 1.5000 });
                    });
                }

                cropImageModal.modal('show');
            }
        }

        //post brand
        const formAdd = document.getElementById("formAdd");
        formAdd.addEventListener('submit', function(evt) {
            evt.preventDefault()
            formData.append("Name", formAdd.inputBrandName.value);

            this.btnSubmit.disabled = true;
            this.btnSubmit.value = "submitting...";

            $.ajax({
                type: "POST",
                url: "/Product/AddBrand",
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    formAdd.btnSubmit.disabled = false;
                    formAdd.btnSubmit.value = "Add";

                    if (response.IsSuccess) {
                        $.notify("Brand added Successfully", "success", { position: "right" });

                        formAdd.inputBrandName.value = "";
                        $('#filePath').val("");

                        dataTable.getData();
                    } else
                        $.notify(response.Message, "error", { position: "right" });
                },
                error: function(err) {
                    console.log(err);
                    formAdd.btnSubmit.disabled = false;
                    formAdd.btnSubmit.value = "Add";
                }
            });
        });

        //on delete
        const table = document.getElementById("brand-table");
        table.addEventListener('click', function(evt) {
            const onDelete = evt.target.classList.contains("delete");
            if (!onDelete) return;

            const element = evt.target.parentElement.parentElement;
            const id = evt.target.getAttribute("data-id");
            const imageUrl = evt.target.getAttribute("data-image");
            const isConfirm = confirm("Are you sure you want to delete?");

            if (!isConfirm) return;

            $.ajax({
                url: "/Product/DeleteBrand",
                data: { id, imageUrl },
                success: function(response) {
                    if (response)
                        element.remove();
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
    </script>
}
