
@{
    ViewData["Title"] = "All Stores";
}
@section Styles{
    <link href="~/css-page/all-store.css" rel="stylesheet" type="text/css" />
}


<div class="container" id="AllStoresApp">
    <all-store></all-store>
</div>


@section Scripts{
    <script src="@Url.Content("~/bundle/all-store.js")"></script>
}