
@{
    ViewData["Title"] = "Cart";
}
@section Styles{
    <style>
        /*shopping cart*/
        .cart-table img { max-height: 60px; margin-right: 5px; min-width: 0; }
        .cart-table td { padding: 0 }

        /*shopping cart quantity input*/
        .item-quantity { max-width:52px; border: 1px solid #ddd; border-radius: 5px; text-align: center; padding: 3px 0; }

        .delete-item{ color: red; cursor: pointer}
    </style>
}
<div class="container mb-5">
    <form id="formCart">
        <div class="row">
            <div class="col-xl-8 col-lg-8 mt-4">
                <div class="card card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <input id="btnDelete" type="button" value="Delete" class="btn btn-danger btn-md">
                        <h4 class="font-weight-bold mb-0">Cart Items</h4>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="allCheck">
                            <label class="form-check-label" for="allCheck">SELECT ALL</label>
                        </div>
                    </div>
                </div>

                <div id="sore1" class="card card-body mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="font-weight-bold mb-0">Name of store</h6>
                        <div class="form-check">
                            <input onclick="checkAll(this)" type="checkbox" class="form-check-input" id="storeAllCheck">
                            <label class="form-check-label" for="storeAllCheck"></label>
                        </div>
                    </div>

                    <table class="table cart-table">
                        <tr>
                            <td class="d-flex align-items-center">
                                <img src="https://static.aadi.com.bd/__sized__/products/IMG-20201111-WA0000-crop-c0-5__0-5-400x500-70.jpg" alt="" />
                                <div class="text-left">
                                    <p class="mb-0">Lorem Ipsum is simply dummy text of Lorem Ipsum has been</p>
                                    <h5 class="mb-0">
                                        <span class="badge badge-pill grey darken-3 mr-2">Color: Red</span>
                                        <span class="badge badge-pill grey darken-3 mr-2">Size: M</span>
                                    </h5>
                                </div>
                            </td>
                            <td>
                                <strong class="d-block">৳500</strong>
                                <input class="item-quantity" data-id="" value="2" min="1" type="number">
                            </td>
                            <td>
                                <strong class="d-block">৳500</strong>
                                <i id="" class="fas fa-trash delete-item"></i>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="storeCheck">
                                    <label class="form-check-label" for="storeCheck"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="d-flex align-items-center">
                                <img src="https://static.aadi.com.bd/__sized__/products/IMG-20201111-WA0000-crop-c0-5__0-5-400x500-70.jpg" alt="" />
                                <div class="text-left">
                                    <p class="mb-0">Lorem Ipsum is simply dummy text of Lorem Ipsum has been</p>
                                    <h5 class="mb-0">
                                        <span class="badge badge-pill grey darken-3 mr-2">Color: Red</span>
                                        <span class="badge badge-pill grey darken-3 mr-2">Size: M</span>
                                    </h5>
                                </div>
                            </td>
                            <td>
                                <strong class="d-block">৳500</strong>
                                <input class="item-quantity" data-id="" value="2" min="1" type="number">
                            </td>
                            <td>
                                <strong class="d-block">৳500</strong>
                                <i id="" class="fas fa-trash delete-item"></i>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="storeCheck2">
                                    <label class="form-check-label" for="storeCheck2"></label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div id="sore2" class="card card-body mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="font-weight-bold mb-0">Name of store</h6>
                        <div class="form-check">
                            <input onclick="checkAll(this)" type="checkbox" class="form-check-input" id="storeAllCheck2">
                            <label class="form-check-label" for="storeAllCheck2"></label>
                        </div>
                    </div>

                    <table class="table cart-table">
                        <tr>
                            <td class="d-flex align-items-center">
                                <img src="https://static.aadi.com.bd/__sized__/products/IMG-20201111-WA0000-crop-c0-5__0-5-400x500-70.jpg" alt="" />
                                <div class="text-left">
                                    <p class="mb-0">Lorem Ipsum is simply dummy text of Lorem Ipsum has been</p>
                                    <h5 class="mb-0">
                                        <span class="badge badge-pill grey darken-3 mr-2">Color: Red</span>
                                        <span class="badge badge-pill grey darken-3 mr-2">Size: M</span>
                                    </h5>
                                </div>
                            </td>
                            <td>
                                <strong class="d-block">৳500</strong>
                                <input class="item-quantity" data-id="" value="2" min="1" type="number">
                            </td>
                            <td>
                                <strong class="d-block">৳500</strong>
                                <i id="" class="fas fa-trash delete-item"></i>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="storeCheck20">
                                    <label class="form-check-label" for="storeCheck20"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="d-flex align-items-center">
                                <img src="https://static.aadi.com.bd/__sized__/products/IMG-20201111-WA0000-crop-c0-5__0-5-400x500-70.jpg" alt="" />
                                <div class="text-left">
                                    <p class="mb-0">Lorem Ipsum is simply dummy text of Lorem Ipsum has been</p>
                                    <h5 class="mb-0">
                                        <span class="badge badge-pill grey darken-3 mr-2">Color: Red</span>
                                        <span class="badge badge-pill grey darken-3 mr-2">Size: M</span>
                                    </h5>
                                </div>
                            </td>
                            <td>
                                <strong class="d-block">৳500</strong>
                                <input class="item-quantity" data-id="" value="2" min="1" type="number">
                            </td>
                            <td>
                                <strong class="d-block">৳500</strong>
                                <i id="" class="fas fa-trash delete-item"></i>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="storeCheck3">
                                    <label class="form-check-label" for="storeCheck3"></label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 mt-4">
                <div class="card card-body">
                    <h4 class="font-weight-bold border-bottom pb-3 mb-3">Order Summary</h4>
                    <ul class="list-group mb-3">
                        <li class="d-flex justify-content-between align-items-center border-bottom my-2 pb-3">
                            <div>Cart Subtotal</div>
                            <div>৳<span class="grand-total-amount">0</span></div>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <h5 class="font-weight-bold">Order Total</h5>
                            <h5 class="font-weight-bold">৳<span id="orderTotal"></span></h5>
                        </li>
                    </ul>

                    <button id="btnSubmit" type="submit" class="btn btn-danger btn-rounded mt-2">Process To Checkout <i class="fas fa-angle-right right"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        function checkAll(self) {
            const childCheckboxId = $(self).parent().parent().parent().attr('id');
            $(`#${childCheckboxId}`).find("input").prop("checked", self.checked);
        }
    </script>
}
