
@{
    ViewData["Title"] = "Cart";
}
@section Styles{
    <style>
        /*shopping cart*/
        #formCart img { max-height: 100px; margin-right: 5px; min-width: 50px; border-radius: 5px }
      
        /*shopping cart quantity input*/
        .item-quantity {display: block; max-width:52px; border: 1px solid #ddd; border-radius: 5px; text-align: center; padding: 3px 0;margin: 5px 0 }

        .delete-item{ color: red; cursor: pointer}
    </style>
}
<div class="container mb-5">
    <form id="formCart">
        <div class="row">
            <div id="all-store" class="col-xl-8 col-lg-8 mt-4">
                <div class="card card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <input id="btnDelete" type="button" value="Delete" class="btn btn-danger btn-md">
                        <h4 class="font-weight-bold mb-0">Cart Items</h4>

                        <input type="checkbox" onclick="checkAll(this)" class="form-check-input" id="allCheck">
                        <label class="form-check-label" for="allCheck">SELECT ALL</label>
                    </div>
                </div>

                <div id="sore1" class="card card-body mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="font-weight-bold mb-0">Name of store</h6>
                        <div class="form-check">
                            <input onclick="checkAll(this)" type="checkbox" class="form-check-input" id="storeAllCheck">
                            <label class="form-check-label" for="storeAllCheck"></label>
                        </div>
                    </div>
                    <hr />

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="d-flex align-items-center">
                            <img src="https://static.aadi.com.bd/__sized__/products/IMG-20201111-WA0000-crop-c0-5__0-5-400x500-70.jpg" alt="" />
                            <div>
                                <p>Lorem Ipsum is simply dummy text of Lorem Ipsum has been</p>
                                <h5 class="mb-0">
                                    <span class="badge badge-pill grey darken-3 mr-2">Color: Red</span>
                                    <span class="badge badge-pill grey darken-3 mr-2">Size: M</span>
                                </h5>
                            </div>
                        </div>
                        <div class="text-center">
                            <strong class="d-block">৳500</strong>
                            <input class="item-quantity" data-id="" value="2" min="1" type="number">
                            <i id="" class="fas fa-trash delete-item"></i>
                        </div>
                        <div class="form-check">
                            <input onclick="checkSingle(this)" type="checkbox" class="form-check-input" id="storeCheck">
                            <label class="form-check-label" for="storeCheck"></label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="d-flex align-items-center">
                            <img src="https://static.aadi.com.bd/__sized__/products/IMG-20201111-WA0000-crop-c0-5__0-5-400x500-70.jpg" alt="" />
                            <div>
                                <p>Lorem Ipsum is simply dummy text of Lorem Ipsum has been</p>
                                <h5 class="mb-0">
                                    <span class="badge badge-pill grey darken-3 mr-2">Color: Red</span>
                                    <span class="badge badge-pill grey darken-3 mr-2">Size: M</span>
                                </h5>
                            </div>
                        </div>
                        <div class="text-center">
                            <strong class="d-block">৳500</strong>
                            <input class="item-quantity" data-id="" value="2" min="1" type="number">
                            <i id="" class="fas fa-trash delete-item"></i>
                        </div>
                        <div class="form-check">
                            <input onclick="checkSingle(this)" type="checkbox" class="form-check-input" id="storeCheck1">
                            <label class="form-check-label" for="storeCheck1"></label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="https://static.aadi.com.bd/__sized__/products/IMG-20201111-WA0000-crop-c0-5__0-5-400x500-70.jpg" alt="" />
                            <div>
                                <p>Lorem Ipsum is simply dummy text of Lorem Ipsum has been</p>
                                <h5 class="mb-0">
                                    <span class="badge badge-pill grey darken-3 mr-2">Color: Red</span>
                                    <span class="badge badge-pill grey darken-3 mr-2">Size: M</span>
                                </h5>
                            </div>
                        </div>
                        <div class="text-center">
                            <strong class="d-block">৳500</strong>
                            <input class="item-quantity" data-id="" value="2" min="1" type="number">
                            <i id="" class="fas fa-trash delete-item"></i>
                        </div>
                        <div class="form-check">
                            <input onclick="checkSingle(this)" type="checkbox" class="form-check-input" id="storeCheck12">
                            <label class="form-check-label" for="storeCheck12"></label>
                        </div>
                    </div>
                </div>

                <div id="sore2" class="card card-body mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="font-weight-bold mb-0">Name of store</h6>
                        <div class="form-check">
                            <input onclick="checkAll(this)" type="checkbox" class="form-check-input" id="storeAllCheck22">
                            <label class="form-check-label" for="storeAllCheck22"></label>
                        </div>
                    </div>
                    <hr />

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="d-flex align-items-center">
                            <img src="https://static.aadi.com.bd/__sized__/products/IMG-20201111-WA0000-crop-c0-5__0-5-400x500-70.jpg" alt="" />
                            <div>
                                <p>Lorem Ipsum is simply dummy text of Lorem Ipsum has been</p>
                                <h5 class="mb-0">
                                    <span class="badge badge-pill grey darken-3 mr-2">Color: Red</span>
                                    <span class="badge badge-pill grey darken-3 mr-2">Size: M</span>
                                </h5>
                            </div>
                        </div>
                        <div class="text-center">
                            <strong class="d-block">৳500</strong>
                            <input class="item-quantity" data-id="" value="2" min="1" type="number">
                            <i id="" class="fas fa-trash delete-item"></i>
                        </div>
                        <div class="form-check">
                            <input onclick="checkSingle(this)" type="checkbox" class="form-check-input" id="storeCheck121">
                            <label class="form-check-label" for="storeCheck121"></label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="d-flex align-items-center">
                            <img src="https://static.aadi.com.bd/__sized__/products/IMG-20201111-WA0000-crop-c0-5__0-5-400x500-70.jpg" alt="" />
                            <div>
                                <p>Lorem Ipsum is simply dummy text of Lorem Ipsum has been</p>
                                <h5 class="mb-0">
                                    <span class="badge badge-pill grey darken-3 mr-2">Color: Red</span>
                                    <span class="badge badge-pill grey darken-3 mr-2">Size: M</span>
                                </h5>
                            </div>
                        </div>
                        <div class="text-center">
                            <strong class="d-block">৳500</strong>
                            <input class="item-quantity" data-id="" value="2" min="1" type="number">
                            <i id="" class="fas fa-trash delete-item"></i>
                        </div>
                        <div class="form-check">
                            <input onclick="checkSingle(this)" type="checkbox" class="form-check-input" id="storeCheck123">
                            <label class="form-check-label" for="storeCheck123"></label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="https://static.aadi.com.bd/__sized__/products/IMG-20201111-WA0000-crop-c0-5__0-5-400x500-70.jpg" alt="" />
                            <div>
                                <p>Lorem Ipsum is simply dummy text of Lorem Ipsum has been</p>
                                <h5 class="mb-0">
                                    <span class="badge badge-pill grey darken-3 mr-2">Color: Red</span>
                                    <span class="badge badge-pill grey darken-3 mr-2">Size: M</span>
                                </h5>
                            </div>
                        </div>
                        <div class="text-center">
                            <strong class="d-block">৳500</strong>
                            <input class="item-quantity" data-id="" value="2" min="1" type="number">
                            <i id="" class="fas fa-trash delete-item"></i>
                        </div>
                        <div class="form-check">
                            <input onclick="checkSingle(this)" type="checkbox" class="form-check-input" id="storeCheck122">
                            <label class="form-check-label" for="storeCheck122"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 mt-4">
                <div class="card card-body">
                    <h4 class="font-weight-bold border-bottom pb-3 mb-3">Order Summary</h4>
                    <ul class="list-group mb-3">
                        <li class="d-flex justify-content-between align-items-center border-bottom my-2 pb-3">
                            <div>Cart Subtotal</div>
                            <div>৳<span class="grand-total-amount">0</span></div>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <h5 class="font-weight-bold">Order Total</h5>
                            <h5 class="font-weight-bold">৳<span id="orderTotal"></span></h5>
                        </li>
                    </ul>

                    <button id="btnSubmit" type="submit" class="btn btn-danger btn-rounded mt-2">Process To Checkout <i class="fas fa-angle-right right"></i></button>
                </div>
            </div>
        </div> 
    </form>
</div>

@section Scripts{
    <script>
        function checkAll(self) {
            const parentCheckboxId = $(self).parent().parent().parent().attr('id');
            $(`#${parentCheckboxId}`).find('input[type="checkbox"]').prop("checked", self.checked);
        }

        function checkSingle(self) {
            const parentCheckboxId = $(self).parent().parent().parent().attr('id');
            const allCheckboxes = $(`#${parentCheckboxId}`).find('input[type="checkbox"]').not(":eq(0)");

            const isAllChecked = (allCheckboxes.length === allCheckboxes.filter(":checked").length);
            $(`#${parentCheckboxId}`).find('input[type="checkbox"]:first').prop("checked", isAllChecked);
        }
    </script>
}
