
@{
    ViewData["Title"] = "Flash Deals";
}
@section Styles{
    <link href="~/css-page/flash-deals.css" rel="stylesheet" type="text/css" />
}


<div class="container" id="FlashDealsApp">
    <all-deals></all-deals>
</div>


@section Scripts{
    <script src="@Url.Content("~/bundle/flash-deals.js")"></script>
}