@model eSuperShop.Repository.ProductDetailsModel

@{
    ViewData["Title"] = "product"; //Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/css-page/product-details.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-8">
            <div class="row">
                <div class="col-lg-4 col-md-5"></div>
                <div class="col-lg-8 col-md-7"></div>
            </div>
        </div>
        

        <div class="col-lg-3 col-md-4"></div>
    </div>
</div>

