
@{
    ViewData["Title"] = "Top Rated";
}

@section Styles{
    <link href="~/css-page/flash-deals.css" rel="stylesheet" type="text/css" />
}


<div class="container" id="FlashDealsApp">
    <top-rated></top-rated>
</div>


@section Scripts{
    <script src="@Url.Content("~/bundle/top-rated.js")"></script>
}

