
@{
    ViewData["Title"] = "Order Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <h4 class="page-header mb-3">Order Settings</h4>
    
    <div class="card card-body">
        <form>
            <div class="form-group">
                <label>Max Order Quantity</label>
                <input type="number" name="" class="form-control" required>
            </div>
            
            <input type="submit" value="Submit" class="btn btn-danger"/>
        </form>
    </div>

</div>
