@model LoginViewModel
@{
    ViewData["Title"] = "Customer Login";
}


@section Styles {
    <link href="~/css-page/Login.css?v=1" rel="stylesheet" />
    <style>
        .serach-container { display: none; }
    </style>  
}

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto mt-5">
            <div class="card card-signin my-5 pt-3">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <strong class="dark-grey-text">Customer Login</strong>
                    </h5>
                    <form asp-route-returnUrl="@ViewBag.ReturnUrl" class="form-signin" asp-controller="Account" asp-action="CustomerLogin" method="post">
                        <div class="md-form mb-5">
                            <input asp-for="UserName" class="form-control">
                            <label for="UserName">Mobile Number</label>
                            <span asp-validation-for="UserName"></span>
                        </div>
                        <div class="md-form mb-0 pb-3">
                            <input asp-for="Password" class="form-control" type="password">
                            <label asp-for="Password"></label>
                            <span asp-validation-for="Password"></span>
                        </div>

                        <button class="btn btn-block btn-rounded btn-danger z-depth-1a mb-3 mt-4" type="submit">SignIn</button>
                        <div asp-validation-summary="All"></div>
                    </form>

                    <p class="mt-3 text-muted text-center">Or Login With</p>

                    <form class="form-signin" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@ViewBag.ReturnUrl" method="post">
                        <div class="text-center">
                            <button type="submit" name="provider" value="Facebook" class="btn btn-fb btn-rounded" title="Log in using your Facebook account"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
                            <button type="submit" name="provider" value="Google" class="btn btn-gplus btn-rounded" title="Log in using your Google account"><i class="fab fa-google pr-1"></i> Google</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


