@model LoginViewModel
@{
    ViewBag.Title = "Seller Login";
    var queryUrl = Context.Request.Query["ReturnUrl"].ToString();
    var returnUrl = string.IsNullOrEmpty(queryUrl) ? "" : "?ReturnUrl=" + queryUrl;
}

@section Styles {
    <link href="~/css-page/Login.css" rel="stylesheet" />
    <style>
        .serach-container { display: none; }
    </style>
}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
            <div class="card card-signin my-5 pt-3">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <strong class="dark-grey-text">Seller Login</strong>
                    </h5>

                    <form asp-route-returnUrl="@ViewBag.ReturnUrl" class="form-signin" asp-controller="Account" asp-action="Login" method="post">
                        <div class="md-form mb-5">
                            <input asp-for="UserName" class="form-control">
                            <label asp-for="UserName"></label>
                            <span asp-validation-for="UserName"></span>
                        </div>
                        <div class="md-form mb-0 pb-3">
                            <input asp-for="Password" class="form-control" type="password">
                            <label asp-for="Password"></label>
                            <span asp-validation-for="Password"></span>
                        </div>

                        <button class="btn btn-block btn-rounded btn-danger z-depth-1a mb-3" type="submit">Sign in</button>

                        <div asp-validation-summary="All" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </form>
                    <div class="mt-5">
                        <p class="mb-0 font-small grey-text d-flex justify-content-end">Not have account? <a href="/Seller/Registration@(returnUrl)" class="blue-text ml-1">Signup</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}