
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_CustomerLayout";
}

<h4 class="page-header">Dashboard</h4>

<div class="m-md-3">
    <div class="card card-body">
        <div class="row">
            <div class="col-lg-3">
                <div class="p-3">
                    <a href="/Customer/OrderList">Order List</a>
                </div>
            </div>
        </div>
    </div>
</div>

