@using eSuperShop.Repository
@model IEnumerable<ICatalogModel>
@{
    Layout = null;
}


@foreach (var catalog in Model)
{
    var isNoCategory = !catalog.SubCatalog.Any();

    <div class="nested">
        <input disabled type="checkbox" value="@catalog.CatalogId" @(catalog.IsExist?"checked":"") class="form-check-input" id="c-@catalog.CatalogId" name="check-category">
        <label class="form-check-label" for="c-@catalog.CatalogId">@catalog.CatalogName</label>

        @if (!isNoCategory)
        {
            <partial name="_SubCatalog" model="@catalog.SubCatalog" />
        }
    </div>
}
