@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link href="~/css-page/home.css?v=1" rel="stylesheet" type="text/css" />
    <link href="~/css-page/loading-screen.css" rel="stylesheet" />
    <link href="~/lib/rating/star-rating-svg.css" rel="stylesheet" />
}

<section id="homeApp" class="container mt-4">
    <section id="slider-category">
        <slider-catalog></slider-catalog>
    </section>

    <section id="quick-delivery" class="mt-5">
        <quick-delivery></quick-delivery>
    </section>

    <section id="topCategory" class="mt-5">
        <top-catalog></top-catalog>
    </section>

    <section>
        <flash-deals></flash-deals>
    </section>

    <section>
        <top-rated></top-rated>
    </section>

    <section class="mt-5">
        <top-store></top-store>
    </section>

    <section class="my-5">
        <more-to-love></more-to-love>
    </section>
</section>


@section Scripts{
    <script src="@Url.Content("~/bundle/home.js?v=1")"></script>
    <script src="~/lib/rating/jquery.star-rating-svg.min.js"></script>
    <script>
        $(function() {
        $(".total-rating").starRating({
            totalStars: 5,
            starSize: 16,
            emptyColor: '#BBBBBB',
            activeColor: '#EE7458',
            useGradient: false,
            readOnly: true
        });
        })
    </script>
}
