@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link href="~/css-page/home.css?v=1.2" rel="stylesheet" type="text/css" />
}

<section id="homeApp" class="container mt-4">
    <section id="slider-category">
        <slider-catalog></slider-catalog>
    </section>

    <section id="quick-delivery" class="mt-5">
        <quick-delivery></quick-delivery>
    </section>

    <section id="topCategory" class="mt-5">
        <top-catalog></top-catalog>
    </section>

    <section>
        <flash-deals></flash-deals>
    </section>

    <section>
        <top-rated></top-rated>
    </section>

    <section class="mt-5">
        <top-store></top-store>
    </section>

    <section class="my-5">
        <more-to-love></more-to-love>
    </section>
</section>


@section Scripts{
    <script src="@Url.Content("~/bundle/home.js")"></script>
}
 