@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link href="~/css-page/home.css?v=1.2" rel="stylesheet" type="text/css" />
}

<section id="homeApp" class="container mt-4">
    <section id="slider-category">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <home-category></home-category>
            </div>

            <div class="col-lg-6 mb-3 col-8">
                <main-Slider></main-Slider>
            </div>

            <div class="col-lg-3 col-4">
                <side-slider></side-slider>
            </div>
        </div>
    </section>

    <section id="quick-delivery" class="mt-5">
        <quick-delivery></quick-delivery>
    </section>

    <section id="topCategory" class="mt-5">
        <top-catalog></top-catalog>
    </section>

    <section class="mt-5">
        <div class="product-header">
            <h3>Flash Deals</h3>
            <a>View More<i class="far fa-eye ml-1"></i></a>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/1.webp" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <div>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="rating-count">10</span>
                                </div>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/2.webp" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <div>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="rating-count">10</span>
                                </div>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/3.jpg" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <div>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="rating-count">10</span>
                                </div>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/4.webp" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <div>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="rating-count">10</span>
                                </div>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5">
        <div class="product-header">
            <h3>Top Rated</h3>
            <a>View More<i class="far fa-eye ml-1"></i></a>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/5.webp" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <div>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="rating-count">10</span>
                                </div>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/6.webp" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <div>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="rating-count">10</span>
                                </div>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/7.webp" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <div>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="rating-count">10</span>
                                </div>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/8.webp" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <div>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="rating-count">10</span>
                                </div>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5">
        <div class="product-header">
            <h3>Top Stores</h3>
            <a>View More<i class="far fa-eye ml-1"></i></a>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card hoverable card-body mb-3">
                    <div class="shop-name">DOM Official Store</div>
                    <div class="shop-description">Multi-items goods seller on the internet</div>
                    <div class="shop-rating mb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>4.5</span>
                    </div>

                    <div class="photo-box">
                        <div class="box">
                            <img src="~/images/products/9.webp" alt="" />
                        </div>
                        <div class="box">
                            <img src="~/images/products/8.webp" alt="" />
                        </div>
                        <div class="box">
                            <img src="~/images/products/7.webp" alt="" />
                        </div>
                        <div class="box">
                            <img src="~/images/products/6.webp" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card hoverable card-body mb-3">
                    <div class="shop-name">DOM Official Store</div>
                    <div class="shop-description">Multi-items goods seller on the internet</div>
                    <div class="shop-rating mb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>4.5</span>
                    </div>

                    <div class="photo-box">
                        <div class="box">
                            <img src="~/images/products/1.webp" alt="" />
                        </div>
                        <div class="box">
                            <img src="~/images/products/2.webp" alt="" />
                        </div>
                        <div class="box">
                            <img src="~/images/products/4.webp" alt="" />
                        </div>
                        <div class="box">
                            <img src="~/images/products/5.webp" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card hoverable card-body mb-3">
                    <div class="shop-name">DOM Official Store</div>
                    <div class="shop-description">Multi-items goods seller on the internet</div>
                    <div class="shop-rating mb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>4.5</span>
                    </div>

                    <div class="photo-box">
                        <div class="box">
                            <img src="~/images/products/10.webp" alt="" />
                        </div>
                        <div class="box">
                            <img src="~/images/products/12.webp" alt="" />
                        </div>
                        <div class="box">
                            <img src="~/images/products/11.webp" alt="" />
                        </div>
                        <div class="box">
                            <img src="~/images/products/6.webp" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5">
        <h3 class="mb-3">More To Love</h3>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/1.webp" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <span class="sold-count">500 sold</span>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/2.webp" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <span class="sold-count">500 sold</span>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/3.jpg" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <span class="sold-count">500 sold</span>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/4.webp" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <span class="sold-count">500 sold</span>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/1.webp" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <span class="sold-count">500 sold</span>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/2.webp" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <span class="sold-count">500 sold</span>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/3.jpg" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <span class="sold-count">500 sold</span>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card hoverable mb-3">
                    <div class="view overlay">
                        <img class="card-img-top" src="/images/products/4.webp" alt="product">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="product-name">
                            In Stock Global Amazfit Bip Lite Water...
                        </p>
                        <div class="pricing-area">
                            <div class="p-price">
                                <span>৳8500</span>
                                <span class="p-discount d-block">৳500</span>
                            </div>
                            <div class="p-rating text-right">
                                <span class="sold-count">500 sold</span>
                                <span class="p-discount-percent">10% off</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


@section Scripts{
    <script src="@Url.Content("~/bundle/home.js")"></script>
}
 