@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link href="~/css/home.css?v=.3" rel="stylesheet" type="text/css" />
}

<div id="app">
    <myhome></myhome>
</div>

<div id="homeApp">
<section class="container">
    <div class="row">
        <div class="col-lg-3 mb-3">
            <div class="category-container z-depth-1">
                <div class="category-title">
                    <i class="fas fa-list"></i>
                    <span>Categories</span>
                </div>
                <ul>
                    <li>Electronic Devices</li>
                    <li>Electronic Accessories</li>
                    <li>TV & Home Appliances</li>
                    <li>Health & Beauty</li>
                    <li>Babies & Toys</li>
                    <li>Groceries & Pets</li>
                    <li>Home & Lifestyle</li>
                    <li>Women's Fashion</li>
                    <li>Men's Fashion</li>
                    <li>Watches & Accessories</li>
                    <li>Sports & Outdoor</li>
                    <li>Automotive & Motorbike</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-6 mb-3 col-8">
            <div class="slider-container z-depth-1">
                <div id="carousel-home" class="carousel slide carousel-fade" data-ride="carousel">
                    <!--540*400 px-->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item" v-for="(item,i) in mainSlider" :class="{ active: i == 0 }" :key="item.SliderId">
                            <img :src="item.ImageUrl" alt="" class="img-fluid">
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carousel-home" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-home" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-4">
            <div class="slider-container z-depth-1">
                <div id="carousel-home2" class="carousel slide carousel-fade" data-ride="carousel">
                    <!--255*400 px-->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item" v-for="(item,i) in sideSlider" :class="{ active: i == 0 }" :key="item.SliderId">
                            <img :src="item.ImageUrl" alt="" class="img-fluid">
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carousel-home2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-home2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="offer-category" class="container mt-5">
    <div class="card card-body py-4">
        <div class="offer-header">
            <h4>Delivery in 24 hours</h4>
            <span>dhaka, narayanganj, chittagong, sylhet, and gazipur city</span>
        </div>

        <div class="row">
            <div class="col-lg-2 col-sm-6 col-6">
                <div class="box">
                    <img src="~/images/category/1.webp" alt="" />
                    <div class="box-title">Clothing</div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-6">
                <div class="box">
                    <img src="~/images/category/2.jpg" alt="" />
                    <div class="box-title">Baby & Kids</div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-6">
                <div class="box">
                    <img src="~/images/category/3.png" alt="" />
                    <div class="box-title">Books & Stationery</div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-6">
                <div class="box">
                    <img src="~/images/category/4.JPG" alt="" />
                    <div class="box-title">Food & Grocery</div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-6">
                <div class="box">
                    <img src="~/images/category/5.jpg" alt="" />
                    <div class="box-title">Electronics</div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-6">
                <div class="box">
                    <img src="~/images/category/6.png" alt="" />
                    <div class="box-title">Mobile accessories</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="topCategory" class="container mt-5">
    <h3>Top Categories This Week</h3>

    <div class="row">
        <div class="col-lg-2 col-sm-6 col-6">
            <div class="box">
                <img src="~/images/category/2.jpg" alt="" />
                <div class="box-title">Baby & Kids</div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-6">
            <div class="box">
                <img src="~/images/category/1.webp" alt="" />
                <div class="box-title">Clothing</div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-6 col-6">
            <div class="box">
                <img src="~/images/category/3.png" alt="" />
                <div class="box-title">Books & Stationery</div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-6">
            <div class="box">
                <img src="~/images/category/4.JPG" alt="" />
                <div class="box-title">Food & Grocery</div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-6">
            <div class="box">
                <img src="~/images/category/5.jpg" alt="" />
                <div class="box-title">Electronics</div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-6">
            <div class="box">
                <img src="~/images/category/6.png" alt="" />
                <div class="box-title">Mobile accessories</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-sm-6 col-6">
            <div class="box">
                <img src="~/images/category/6.png" alt="" />
                <div class="box-title">Mobile accessories</div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-6">
            <div class="box">
                <img src="~/images/category/1.webp" alt="" />
                <div class="box-title">Clothing</div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-6">
            <div class="box">
                <img src="~/images/category/2.jpg" alt="" />
                <div class="box-title">Baby & Kids</div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-6">
            <div class="box">
                <img src="~/images/category/3.png" alt="" />
                <div class="box-title">Books & Stationery</div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-6">
            <div class="box">
                <img src="~/images/category/4.JPG" alt="" />
                <div class="box-title">Food & Grocery</div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-6">
            <div class="box">
                <img src="~/images/category/5.jpg" alt="" />
                <div class="box-title">Electronics</div>
            </div>
        </div>

    </div>
</section>

<section class="container mt-5">
    <div class="product-header">
        <h3>Flash Deals</h3>
        <a>View More<i class="far fa-eye ml-1"></i></a>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card hoverable mb-3">
                <div class="view overlay">
                    <img class="card-img-top" src="/images/products/1.webp" alt="product">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <p class="product-name">
                        In Stock Global Amazfit Bip Lite Water...
                    </p>
                    <div class="pricing-area">
                        <div class="p-price">
                            <span>৳8500</span>
                            <span class="p-discount d-block">৳500</span>
                        </div>
                        <div class="p-rating text-right">
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="rating-count">10</span>
                            </div>
                            <span class="p-discount-percent">10% off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hoverable mb-3">
                <div class="view overlay">
                    <img class="card-img-top" src="/images/products/2.webp" alt="product">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <p class="product-name">
                        In Stock Global Amazfit Bip Lite Water...
                    </p>
                    <div class="pricing-area">
                        <div class="p-price">
                            <span>৳8500</span>
                            <span class="p-discount d-block">৳500</span>
                        </div>
                        <div class="p-rating text-right">
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="rating-count">10</span>
                            </div>
                            <span class="p-discount-percent">10% off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hoverable mb-3">
                <div class="view overlay">
                    <img class="card-img-top" src="/images/products/3.jpg" alt="product">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <p class="product-name">
                        In Stock Global Amazfit Bip Lite Water...
                    </p>
                    <div class="pricing-area">
                        <div class="p-price">
                            <span>৳8500</span>
                            <span class="p-discount d-block">৳500</span>
                        </div>
                        <div class="p-rating text-right">
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="rating-count">10</span>
                            </div>
                            <span class="p-discount-percent">10% off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hoverable mb-3">
                <div class="view overlay">
                    <img class="card-img-top" src="/images/products/4.webp" alt="product">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <p class="product-name">
                        In Stock Global Amazfit Bip Lite Water...
                    </p>
                    <div class="pricing-area">
                        <div class="p-price">
                            <span>৳8500</span>
                            <span class="p-discount d-block">৳500</span>
                        </div>
                        <div class="p-rating text-right">
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="rating-count">10</span>
                            </div>
                            <span class="p-discount-percent">10% off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="product-header">
        <h3>Top Rated</h3>
        <a>View More<i class="far fa-eye ml-1"></i></a>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card hoverable mb-3">
                <div class="view overlay">
                    <img class="card-img-top" src="/images/products/5.webp" alt="product">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <p class="product-name">
                        In Stock Global Amazfit Bip Lite Water...
                    </p>
                    <div class="pricing-area">
                        <div class="p-price">
                            <span>৳8500</span>
                            <span class="p-discount d-block">৳500</span>
                        </div>
                        <div class="p-rating text-right">
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="rating-count">10</span>
                            </div>
                            <span class="p-discount-percent">10% off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hoverable mb-3">
                <div class="view overlay">
                    <img class="card-img-top" src="/images/products/6.webp" alt="product">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <p class="product-name">
                        In Stock Global Amazfit Bip Lite Water...
                    </p>
                    <div class="pricing-area">
                        <div class="p-price">
                            <span>৳8500</span>
                            <span class="p-discount d-block">৳500</span>
                        </div>
                        <div class="p-rating text-right">
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="rating-count">10</span>
                            </div>
                            <span class="p-discount-percent">10% off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hoverable mb-3">
                <div class="view overlay">
                    <img class="card-img-top" src="/images/products/7.webp" alt="product">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <p class="product-name">
                        In Stock Global Amazfit Bip Lite Water...
                    </p>
                    <div class="pricing-area">
                        <div class="p-price">
                            <span>৳8500</span>
                            <span class="p-discount d-block">৳500</span>
                        </div>
                        <div class="p-rating text-right">
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="rating-count">10</span>
                            </div>
                            <span class="p-discount-percent">10% off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card hoverable mb-3">
                <div class="view overlay">
                    <img class="card-img-top" src="/images/products/8.webp" alt="product">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <p class="product-name">
                        In Stock Global Amazfit Bip Lite Water...
                    </p>
                    <div class="pricing-area">
                        <div class="p-price">
                            <span>৳8500</span>
                            <span class="p-discount d-block">৳500</span>
                        </div>
                        <div class="p-rating text-right">
                            <div>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span class="rating-count">10</span>
                            </div>
                            <span class="p-discount-percent">10% off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="product-header">
        <h3>Top Stores</h3>
        <a>View More<i class="far fa-eye ml-1"></i></a>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card hoverable card-body mb-3">
                <div class="shop-name">DOM Official Store</div>
                <div class="shop-description">Multi-items goods seller on the internet</div>
                <div class="shop-rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>4.5</span>
                </div>

                <div class="photo-box">
                    <div class="box">
                        <img src="~/images/products/9.webp" alt="" />
                    </div>
                    <div class="box">
                        <img src="~/images/products/8.webp" alt="" />
                    </div>
                    <div class="box">
                        <img src="~/images/products/7.webp" alt="" />
                    </div>
                    <div class="box">
                        <img src="~/images/products/6.webp" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card hoverable card-body mb-3">
                <div class="shop-name">DOM Official Store</div>
                <div class="shop-description">Multi-items goods seller on the internet</div>
                <div class="shop-rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>4.5</span>
                </div>

                <div class="photo-box">
                    <div class="box">
                        <img src="~/images/products/1.webp" alt="" />
                    </div>
                    <div class="box">
                        <img src="~/images/products/2.webp" alt="" />
                    </div>
                    <div class="box">
                        <img src="~/images/products/4.webp" alt="" />
                    </div>
                    <div class="box">
                        <img src="~/images/products/5.webp" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card hoverable card-body mb-3">
                <div class="shop-name">DOM Official Store</div>
                <div class="shop-description">Multi-items goods seller on the internet</div>
                <div class="shop-rating mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>4.5</span>
                </div>

                <div class="photo-box">
                    <div class="box">
                        <img src="~/images/products/10.webp" alt="" />
                    </div>
                    <div class="box">
                        <img src="~/images/products/12.webp" alt="" />
                    </div>
                    <div class="box">
                        <img src="~/images/products/11.webp" alt="" />
                    </div>
                    <div class="box">
                        <img src="~/images/products/6.webp" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
<h3 class="mb-3">More To Love</h3>

<div class="row">
<div class="col-lg-3 col-sm-6">
    <div class="card hoverable mb-3">
        <div class="view overlay">
            <img class="card-img-top" src="/images/products/1.webp" alt="product">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body">
            <p class="product-name">
                In Stock Global Amazfit Bip Lite Water...
            </p>
            <div class="pricing-area">
                <div class="p-price">
                    <span>৳8500</span>
                    <span class="p-discount d-block">৳500</span>
                </div>
                <div class="p-rating text-right">
                    <span class="sold-count">500 sold</span>
                    <span class="p-discount-percent">10% off</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6">
    <div class="card hoverable mb-3">
        <div class="view overlay">
            <img class="card-img-top" src="/images/products/2.webp" alt="product">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body">
            <p class="product-name">
                In Stock Global Amazfit Bip Lite Water...
            </p>
            <div class="pricing-area">
                <div class="p-price">
                    <span>৳8500</span>
                    <span class="p-discount d-block">৳500</span>
                </div>
                <div class="p-rating text-right">
                    <span class="sold-count">500 sold</span>
                    <span class="p-discount-percent">10% off</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6">
    <div class="card hoverable mb-3">
        <div class="view overlay">
            <img class="card-img-top" src="/images/products/3.jpg" alt="product">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body">
            <p class="product-name">
                In Stock Global Amazfit Bip Lite Water...
            </p>
            <div class="pricing-area">
                <div class="p-price">
                    <span>৳8500</span>
                    <span class="p-discount d-block">৳500</span>
                </div>
                <div class="p-rating text-right">
                    <span class="sold-count">500 sold</span>
                    <span class="p-discount-percent">10% off</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6">
    <div class="card hoverable mb-3">
        <div class="view overlay">
            <img class="card-img-top" src="/images/products/4.webp" alt="product">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body">
            <p class="product-name">
                In Stock Global Amazfit Bip Lite Water...
            </p>
            <div class="pricing-area">
                <div class="p-price">
                    <span>৳8500</span>
                    <span class="p-discount d-block">৳500</span>
                </div>
                <div class="p-rating text-right">
                    <span class="sold-count">500 sold</span>
                    <span class="p-discount-percent">10% off</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-sm-6">
    <div class="card hoverable mb-3">
        <div class="view overlay">
            <img class="card-img-top" src="/images/products/1.webp" alt="product">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body">
            <p class="product-name">
                In Stock Global Amazfit Bip Lite Water...
            </p>
            <div class="pricing-area">
                <div class="p-price">
                    <span>৳8500</span>
                    <span class="p-discount d-block">৳500</span>
                </div>
                <div class="p-rating text-right">
                    <span class="sold-count">500 sold</span>
                    <span class="p-discount-percent">10% off</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6">
    <div class="card hoverable mb-3">
        <div class="view overlay">
            <img class="card-img-top" src="/images/products/2.webp" alt="product">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body">
            <p class="product-name">
                In Stock Global Amazfit Bip Lite Water...
            </p>
            <div class="pricing-area">
                <div class="p-price">
                    <span>৳8500</span>
                    <span class="p-discount d-block">৳500</span>
                </div>
                <div class="p-rating text-right">
                    <span class="sold-count">500 sold</span>
                    <span class="p-discount-percent">10% off</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6">
    <div class="card hoverable mb-3">
        <div class="view overlay">
            <img class="card-img-top" src="/images/products/3.jpg" alt="product">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body">
            <p class="product-name">
                In Stock Global Amazfit Bip Lite Water...
            </p>
            <div class="pricing-area">
                <div class="p-price">
                    <span>৳8500</span>
                    <span class="p-discount d-block">৳500</span>
                </div>
                <div class="p-rating text-right">
                    <span class="sold-count">500 sold</span>
                    <span class="p-discount-percent">10% off</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-sm-6">
    <div class="card hoverable mb-3">
        <div class="view overlay">
            <img class="card-img-top" src="/images/products/4.webp" alt="product">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body">
            <p class="product-name">
                In Stock Global Amazfit Bip Lite Water...
            </p>
            <div class="pricing-area">
                <div class="p-price">
                    <span>৳8500</span>
                    <span class="p-discount d-block">৳500</span>
                </div>
                <div class="p-rating text-right">
                    <span class="sold-count">500 sold</span>
                    <span class="p-discount-percent">10% off</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
</div>

@section Scripts
{
    <script src="@Url.Content("~/bundle/home.js")"></script>

    @*<script>
        const homeApp = new Vue({
            el: '#homeApp',
            data: {
                mainSlider: [],
                sideSlider: []
            },
            mounted () {
                axios.get('/home/GetSliderData', { params: { place: "Main" } }).then(response => {
                    this.mainSlider = response.data.Data;
                    console.log(this.mainSlider)
                });

                axios.get('/home/GetSliderData', { params: { place: "Side" } }).then(response => {
                    this.sideSlider = response.data.Data;
                    console.log("side", this.sideSlider)
                })
            }
        })
    </script>*@
}
 