@{
    ViewData["Title"] = "Store Theme";
    Layout = "_SellerLayout";
}

@section Styles{
  
}


<div class="container">
    <h4 class="page-header mb-3">Theme</h4>

    <select asp-items="ViewBag.ThemeType" class="mdb-select md-form" searchable="Search here..">
        <option value="" disabled selected>Select Theme</option>
    </select>
</div>


@section Scripts{
    <script>
        $(function() {
            $(".mdb-select").materialSelect();
        });
    </script>
}
