.slider-container, .category-container { border-radius: 3px; }
.slider-container img { height: 500px; width: 100%; object-fit: cover; border-radius: 3px; }
.carousel-indicators li { background-color: #f00 }

.category-container { background-color: #fff; padding: 5px 5px 10px 25px; border-top: 8px solid #E62E04; }

.category-title { display: flex; align-items: center; border-bottom: 1px solid #D9D9D9; padding-bottom: 9px; padding-top: 5px; margin-bottom: 10px; color: #494949 }
.category-title span { margin-left: 5px; font-size: 22px; font-weight: bold }

.category-container ul { margin: 0; padding: 0 }
.category-container ul li { list-style-type: none; line-height:37.5px; }
.category-container ul li a { color: #6C6C6C; font-weight: normal; font-size: 17px; }
.category-container ul li a:hover { color: #000 }

/*quick delivery*/
#quick-delivery .card-title { margin-bottom: 0; background-color: #f56868; color: #fff; padding: 5px; font-size: 13px; font-weight: 400; }
#quick-delivery .offer-header { margin-bottom: 1.5rem; text-align: center }
#quick-delivery .offer-header h4 { display: inline; font-weight: bold; font-size: 28px; color: #E7401A; margin: 0 }
#quick-delivery .offer-header span { font-size: 18px; color: #585858; }


/*top category*/
#topCategory h3 { font-size: 28px; color: #494949; text-align: center; font-weight: 700; margin-bottom: 25px; }
#topCategory .card-title { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-bottom: 0; background-color: #fff; color: #584545; padding: 10px 5px; border-top: 1px solid #E7DEDE; font-size: 15px; }


/*features product*/
.product-header { margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center }

.product-name { color: #565353; font-size: 13px; margin-bottom: 0; height: 40px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }

.pricing-area { display: flex; justify-content: space-between; align-items: center; line-height: 27px; }
.p-price span { font-weight: bold; font-size: 16px; color: #3E3E3E; }
span.p-discount { color: #8F8F8F; font-size: 14px; text-decoration: line-through; }

.rating-count { background: #FFFFFF; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); border-radius: 20px; padding: 0 4px; font-size: 13px; }
.p-rating i { color: #F97700; font-size: 12px; }
.p-discount-percent { color: #F47A5E; font-size: 14px; }


/*top store*/
.shop-name { color: #312626; font-size: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.shop-description { font-style: italic; font-size: 13px; color: #676565; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.photo-box { display: grid; grid-gap: 10px; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; grid-template-areas: ". ." ". ."; }
.photo-box .box { border: 1px solid #E1E1E1; }
.photo-box .box img { width: 100%; height: 115px; }

.shop-rating i { color: #F97700; font-size: 12px; }
.shop-rating span { color: #656262; font-size: 13px; }

/*more product*/
.sold-count { display: block; color: #443C3C; font-size: 12px }



/*image max size*/
#flash-deals .card-img-top,
#top-rated .card-img-top,
#top-store .card-img-top,
#more-products .card-img-top { max-height: 200px }

/*reset row col into 5*/
.row > [class*='col-'] { padding-right: 10px; padding-left: 10px; }
@media (max-width: 768px) {
    .fivecolumns .col-md-2, .fivecolumns .col-sm-2, .fivecolumns .col-lg-2 { max-width: 50%; flex: 0 0 50%; }
}

@media (min-width: 992px) {
    .fivecolumns .col-md-2, .fivecolumns .col-sm-2, .fivecolumns .col-lg-2 { max-width: 20%; flex: 0 0 20% }
}



@media (max-width: 767.98px) {
    #topCategory h3 { font-size: 23px; }
    #flash-deals .card-img-top,
    #top-rated .card-img-top,
    #top-store .card-img-top,
    #more-products .card-img-top { max-height: 100% }
}
