
.old-price { text-decoration: line-through; color: #626161; margin: 0 8px}
.p-discount-percent { color: #ff5722 }

.attribute-img {  margin-right: 10px;  }
.attribute-img img { width: 60px; height: 60px; border-radius: 5px; margin-right: 10px; border: 1px solid #ddd; }
.attribute-img [type=radio] + img { cursor: pointer; }
.attribute-img [type=radio]:checked + img { border: 1px solid #ff5722; }

.attribute-text { margin-right: 10px; }
.attribute-text [type=radio] + label { cursor: pointer; padding: 2px 15px; border: 1px solid #ddd; border-radius: 5px; }
.attribute-text [type=radio]:checked + label { border: 1px solid #ff5722; }

.input-quantity { border: 1px solid #ddd; width: 72px; border-radius: 5px; text-align: center; }

/*recomand-product*/
.recomand-product { position: relative; margin: 10px 40px; border: 1px solid #ddd; border-radius: 3px; }
.recomand-product img{ max-height: 118px; }
.recomand-product .price-tag { position: absolute; bottom: 0; right: 0; left: 0; background-color: rgba(0,0,0,.5); color: #fff; width: 100%; margin: auto; }

/**image zoomer**/
#img-container { width: 100%; }
#img-container img { width: 100%; border: 1px solid #ddd; border-radius: 3px; }

.thumb-img-container { width: 100%; height: 70px; margin-top: 10px; position: relative; }
.thumb-img-container .icon-left, .thumb-img-container .icon-right { width: 12px; height: 24px; cursor: pointer; position: absolute; top: 0; bottom: 0; margin: auto 0; }
.thumb-img-container .icon-left { transform: rotate(180deg) }

.thumb-img-container .icon-right { right: 0; }
.thumb-img-container .icon-left:hover, .thumb-img-container .icon-right:hover { opacity: .5; }

.small-container { width:85%; height: 70px; overflow: hidden; position: absolute; left: 0; right: 0; margin: 0 auto; }
.small-container div { width: 200%; /**change 800%**/ position: relative; }
.small-container .show-small-img {height: 70px; margin-right: 6px; cursor: pointer; float: left; }
.small-container .show-small-img:last-of-type { margin-right: 0; }


/*review*/
#review-avg { position: relative; background: url('../../images/ratingStar.svg') no-repeat; height:100px; width:78px; margin: auto; }
#review-avg span { position: absolute; top: 42px; left: 24px; z-index: 9999; font-size: 15px; font-weight: bold; color: #fff; width: 30px; text-align: center; }
.rating-title { width: 100px;}

.review-name { margin-bottom: 0; font-weight: bold; color: #434040 }
.review-time { color: #838383; margin-bottom: 16px; display: inline-block; }
.review-text { color: #484848 }

/*seller recomand*/
.product-name { font-size: 13px; color: #565353; }

.pricing-area { display: flex; justify-content: space-between; align-items: center; line-height: 27px; }
.p-price span { font-weight: bold; font-size: 16px; color: #3E3E3E; }
span.p-discount { color: #8F8F8F; font-size: 14px; text-decoration: line-through; }

.rating-count { background: #FFFFFF; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); border-radius: 20px; padding: 0 4px; font-size: 13px; }
.p-rating i { color: #F97700; font-size: 12px; }
.p-discount-percent { color: #F47A5E; font-size: 14px; }

/*image max size*/
#seller-recomnd .card-img-top { max-height: 250px }


@media (max-width: 767.98px) {
    #seller-recomnd .card-img-top { max-height: 100% }
}

/*faq*/
#faq .questing-title {display: flex; align-items: center; color: #E35858; font-size: 17px; margin-right: 10px }
#faq .questing-title i { font-size: 28px; margin-left: 7px; }

#faq .answer-title { display: flex; align-items: center; color: #05BD02; font-size: 17px; margin-right: 10px }
#faq .answer-title i { font-size: 28px; margin-left: 7px; }

#faq .text-container h6 {font-weight: 400; color: #555555;margin-bottom: 6px}
#faq .text-container p { font-weight: normal; color: #7B7B7B; margin-bottom: 0 }
#faq .text-container p small { color: #ABABAB; }