
@{
    ViewData["Title"] = "Area";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="card card-body mt-3">
        <form id="formAdd">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="selectRegion">Region</label>
                        <select id="selectRegion" name="RegionId" class="form-control" required>
                            <option value="">SELECT REGION</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="inputArea">Area Name</label>
                        <input id="inputArea" name="AreaName" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group mb-n3">
                        <input type="submit" class="btn btn-danger btn-md" value="Add">
                    </div>
                </div>
            </div>
        </form>

        <table id="data-table" class="table">
            <thead>
                <tr>
                    <th><strong>Area</strong></th>
                    <th style="width: 50px"><strong>Edit</strong></th>
                    <th style="width: 50px"><strong>Delete</strong></th>
                </tr>
            </thead>
            <tbody id="tBody"></tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content form-elegant">
            <div class="modal-body mx-4">
                <form id="formUpdate">
                    <div class="form-group">
                        <label for="inputUpdatedField">Area Name</label>
                        <input id="inputUpdatedField" name="AreaName" type="text" class="form-control" required>
                        <input id="hiddenId" name="AreaId" type="hidden">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger btn-rounded z-depth-1a">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        (function () {
            //get data
            var dataTable = {
                table: null,
                init: function () {
                    dataTable.table = $("#data-table").DataTable({
                        processing: true,
                        serverSide: true,
                        ajax: {
                            url: "/BasicSetting/GetAreaData",
                            type: "POST"
                        },
                        columns:
                            [
                                { data: "AreaName" },
                                {
                                    data: "AreaId", "render": function (data, type, row, meta) {
                                        return `<i data-id="${data}" data-value="${row.AreaName}" class="edit fas fa-edit"></i>`;
                                    }
                                },
                                {
                                    data: "AreaId", "render": function (data, type, row, meta) {
                                        return `<i data-id="${data}" class="delete fas fa-trash"></i>`;
                                    }
                                }
                            ],
                        columnDefs: [
                            { 'searchable': false, 'targets': [1, 2] }
                        ]
                    });
                },
                getData: function () {
                    dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
                },
                addSign: function (data) { return `${data}/-` }
            }


            //get form data as object
            const serializeForm = function (form) {
                const obj = {};
                const formData = new FormData(form);
                for (let key of formData.keys()) {
                    obj[key] = formData.get(key);
                }
                return obj;
            };

            //form selector
            const formAdd = document.getElementById("formAdd");
            const formUpdate = document.getElementById("formUpdate");
            const tBody = document.getElementById("tBody");

            //form submit
            formAdd.addEventListener("submit", function (evt) {
                evt.preventDefault();

                $.ajax({
                    url: "/BasicSetting/",
                    type: "POST",
                    data: serializeForm(this),
                    success: response => {
                        $.notify(response.Message, response.IsSuccess ? "success" : "error");
                    },
                    error: error => {
                        console.log(error);
                    }
                });
            });

            //on edit/delete
            tBody.addEventListener("click", function (evt) {
                evt.preventDefault();

                const element = evt.target;
                const onEdit = element.classList.contains("edit");
                const onDelete = element.classList.contains("delete");
                const id = element.getAttribute("data-id");

                if (onEdit) {
                    const value = element.getAttribute("data-value");
                    formUpdate.inputUpdatedField.value = value;
                    formUpdate.hiddenId.value = id;

                    $("#updateModal").modal("show");
                }

                if (onDelete) {

                }
            });

            //post update
            formUpdate.addEventListener("submit", function (evt) {
                evt.preventDefault();

                $.ajax({
                    url: "/BasicSetting/",
                    type: "POST",
                    data: serializeForm(this),
                    success: response => { },
                    error: error => {
                        console.log(error);
                    }
                });
            });

            //disable btn on click
            function disabledBtn(selector, isLoading) {
                selector.disabled = isLoading;
            }

            //disable icon on click
            function disabledIcon(selector, isLoading) {
                isLoading ? selector.classList.add("icon-disable") : selector.classList.remove("icon-disable");
            }

            //call function
            dataTable.getData();
        })();
    </script>
}

