
@{
    ViewData["Title"] = "Region";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <style>
        .icon-disable { pointer-events: none}
    </style>
}

<div class="container">
    <h4 class="page-header mb-3">Region</h4>

    <div class="card card-body mt-3">
        <form id="formAdd">
            <div class="row">
                <div class="col-lg-6">
                    <div class="md-form">
                        <label for="inputRegion">Region Name</label>
                        <input id="inputRegion" name="RegionName" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="md-form">
                        <input id="btnAdd" type="submit" class="btn btn-danger btn-md" value="Add">
                    </div>
                </div>
            </div>
        </form>

        <table id="data-table" class="table">
            <thead>
            <tr>
                <th><strong>Region</strong></th>
                <th style="width: 50px"><strong>Edit</strong></th>
                <th style="width: 50px"><strong>Delete</strong></th>
            </tr>
            </thead>
            <tbody id="tBody"></tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content form-elegant">
            <div class="modal-body mx-4">
                <form id="formUpdate">
                    <div class="form-group">
                        <label for="inputUpdatedField">Region Name</label>
                        <input id="inputUpdatedField" name="RegionName" type="text" class="form-control" required>
                        <input id="hiddenId" name="RegionId" type="hidden">
                    </div>
                    <div class="text-center">
                        <button id="btnUpdate" type="submit" class="btn btn-danger btn-rounded z-depth-1a">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        (function () {
            //get data
            var dataTable = {
                table: null,
                init: function () {
                    dataTable.table = $("#data-table").DataTable({
                        processing: true,
                        serverSide: true,
                        ajax: {
                            url: "/BasicSetting/GetRegionData",
                            type: "POST"
                        },
                        columns:
                            [
                                { data: "RegionName" },
                                {
                                    data: "RegionId", "render": function (data, type, row, meta) {
                                        return `<i data-id="${data}" data-value="${row.RegionName}" class="edit fas fa-edit"></i>`;
                                    }
                                },
                                {
                                    data: "RegionId", "render": function (data, type, row, meta) {
                                        return `<i data-id="${data}" class="delete fas fa-trash"></i>`;
                                    }
                                }
                            ],
                        columnDefs: [
                            { 'searchable': false, 'targets': [1, 2] }
                        ]
                    });
                },
                getData: function () {
                    dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
                },
                addSign: function (data) { return `${data}/-` }
            }

            //get form data as object
            const serializeForm = function (form) {
                const obj = {};
                const formData = new FormData(form);
                for (let key of formData.keys()) {
                    obj[key] = formData.get(key);
                }
                return obj;
            };

            //form selector
            const formAdd = document.getElementById("formAdd");
            const formUpdate = document.getElementById("formUpdate");
            const tBody = document.getElementById("tBody");

            //form submit
            formAdd.addEventListener("submit", function (evt) {
                evt.preventDefault();
                const btn = this.btnAdd;

                disabledBtn(btn, true);

                $.ajax({
                    url: "/BasicSetting/PostRegion",
                    type: "POST",
                    data: serializeForm(this),
                    success: response => {
                        $.notify(response.Message, response.IsSuccess ? "success" : "error");

                        if (response.IsSuccess) {
                            dataTable.getData();
                            this.reset();
                            disabledBtn(btn, false);
                        }
                    },
                    error: error => {
                        console.log(error);
                        disabledBtn(btn, false);
                    }
                });
            });

            //on edit/delete
            tBody.addEventListener("click", function (evt) {
                evt.preventDefault();

                const element = evt.target;
                const onEdit = element.classList.contains("edit");
                const onDelete = element.classList.contains("delete");
                const id = element.getAttribute("data-id");

                if (onEdit) {
                    const value = element.getAttribute("data-value");
                    formUpdate.inputUpdatedField.value = value;
                    formUpdate.hiddenId.value = id;

                    $("#updateModal").modal("show");
                }

                //delete
                if (onDelete) {
                    disabledIcon(element, true);

                    $.ajax({
                        url: "/BasicSetting/DeleteRegion",
                        type: "POST",
                        data: { id },
                        success: response => {
                            $.notify(response.Message, response.IsSuccess ? "success" : "error");

                            if (response.IsSuccess)
                                dataTable.getData();

                            disabledIcon(element, false);
                        },
                        error: error => {
                            console.log(error);
                            disabledIcon(element, false);
                        }
                    });
                }
            });

            //post update
            formUpdate.addEventListener("submit", function (evt) {
                evt.preventDefault();
                const btn = this.btnUpdate;

                disabledBtn(btn, true);

                $.ajax({
                    url: "/BasicSetting/UpdateRegion",
                    type: "POST",
                    data: serializeForm(this),
                    success: response => {
                        $.notify(response.Message, response.IsSuccess ? "success" : "error");

                        if (response.IsSuccess) {
                            dataTable.getData();
                            $("#updateModal").modal("hide");
                        }

                        disabledBtn(btn, false);
                    },
                    error: error => {
                        console.log(error);
                        disabledBtn(btn, false);
                    }
                });
            });

            //disable btn on click
            function disabledBtn(selector, isLoading) {
                selector.disabled = isLoading;
            }

            //disable icon on click
            function disabledIcon(selector, isLoading) {
                isLoading ? selector.classList.add("icon-disable") : selector.classList.remove("icon-disable");
            }

            //call function
            dataTable.getData();
        })();
    </script>
}
