
body { background-color: #F3F3F3 }

#sellerArea .dropdown:hover > .dropdown-menu { display: block; }
#sellerArea .dropdown > .dropdown-toggle:active { /*Without this, clicking will make it sticky*/ pointer-events: none; }

.top-bar { background-color: #E62E04; box-shadow: none; padding: 0 }
.nav-link { color: #fff}
.nav-link:hover { color: #ece7e7 }

.bottom-header { background-color: #fff; padding: 20px 0; border-bottom: 1px solid #e6e6e6; }
.serach-container {position: relative }
#btn-find { position: absolute; right: 2px; color: #fff; border: none; background-color: #e62e04; padding: 6px 13px; }
.input-home-search { width: 100%; border-radius: 4px; border: 2px solid #e62e04; padding: 4px 175px 6px 15px; color: #585858; }
.category-select { position: absolute; right: 50px; top: -3px; width: 116px; }
.serach-container .select-wrapper input.select-dropdown { width: 120px; margin: 0 0 .94rem; padding: 0; border-bottom: none !important; }

.cart-area { position: relative; display: flex; justify-content: flex-end; align-items: center;padding-right: 15px; }
.cart-area i { margin-left: 26px; font-size: 24px; color: #515151; }
.cart-product-count { position: absolute; top: -12px; border-radius: 12.5px; height: 22px; width: 22px; color: #FFF; right: -3px; font-size: 13px; font-weight: bold; display: flex; align-items: center; justify-content: center; background-color: #E62E04; }

/**DISABLE INPUT TYPE NUMBER WHEEL**/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type="number"] { -moz-appearance: textfield; }

/* validation helpers */
.field-validation-error { color: #ee2420; font-size: .85rem; }
.field-validation-valid { display: none; }

input.input-validation-error { border: 1px solid #b94a48; }
input[type="checkbox"].input-validation-error { border: 0 none; }

.validation-summary-errors { color: #b94a48; }
.validation-summary-valid { display: none; }
#toTop { bottom: 10px; cursor: pointer; display: none; position: fixed; right: 10px; }   

/*footer*/
.footer-bg { background-color: #3E4551 }
.footer-top { background-color: #e62e04; padding: 12px 0; }

/*shopping cart quantity input*/
.item-quantity {width: 100%; border: 1px solid #ddd; border-radius: 5px; text-align: center; padding: 3px 0; }

/*lading animation*/
.loader-style { text-align: center; margin: 15px 0}
.loader-style i { color: #4f4f4f }