@using eSuperShop.Repository
@model VendorDashboardModel
@{
    ViewData["Title"] = "Seller Dashboard";
    Layout = "_SellerLayout";
}

<div class="m-md-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h4 class="page-header">@Model.VendorInfo.StoreName</h4>
            <p class="mb-0">@Model.VendorInfo.AuthorizedPerson</p>
        </div>
        <h4 class="mb-0 font-weight-bold">Balance: ৳@Model.VendorInfo.Balance</h4>
    </div>

    <section>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="media white z-depth-1 rounded">
                    <i class="far fa-money-bill-alt fa-lg blue z-depth-1 p-4 rounded-left text-white mr-3"></i>
                    <div class="media-body p-1">
                        <p class="text-uppercase text-muted mb-1"><small>sales</small></p>
                        <h5 class="font-weight-bold mb-0">৳@Model.VendorInfo.GrossSale</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="media white z-depth-1 rounded">
                    <i class="fas fa-chart-bar fa-lg deep-purple z-depth-1 p-4 rounded-left text-white mr-3"></i>
                    <div class="media-body p-1">
                        <p class="text-uppercase text-muted mb-1"><small>discount</small></p>
                        <h5 class="font-weight-bold mb-0">৳@Model.VendorInfo.Discount</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="media white z-depth-1 rounded">
                    <i class="fas fa-chart-pie fa-lg teal z-depth-1 p-4 rounded-left text-white mr-3"></i>
                    <div class="media-body p-1">
                        <p class="text-uppercase text-muted mb-1"><small>net sales</small></p>
                        <h5 class="font-weight-bold mb-0">৳@Model.VendorInfo.NetSale</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-3">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="media white z-depth-1 rounded">
                    <i class="far fa-money-bill-alt fa-lg light-green darken-1 z-depth-1 p-4 rounded-left text-white mr-3"></i>
                    <div class="media-body p-1">
                        <p class="text-uppercase text-muted mb-1"><small>commission</small></p>
                        <h5 class="font-weight-bold mb-0">৳@Model.VendorInfo.Commission</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="media white z-depth-1 rounded">
                    <i class="fas fa-chart-bar fa-lg pink darken-3 z-depth-1 p-4 rounded-left text-white mr-3"></i>
                    <div class="media-body p-1">
                        <p class="text-uppercase text-muted mb-1"><small>refund</small></p>
                        <h5 class="font-weight-bold mb-0">৳@Model.VendorInfo.Refund</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="media white z-depth-1 rounded">
                    <i class="fas fa-chart-pie fa-lg indigo z-depth-1 p-4 rounded-left text-white mr-3"></i>
                    <div class="media-body p-1">
                        <p class="text-uppercase text-muted mb-1"><small>withdraw</small></p>
                        <h5 class="font-weight-bold mb-0">৳@Model.VendorInfo.Withdraw</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-body">
                <h5 class="font-weight-bold text-center">Selected Theme</h5>
                <select id="selectTheme" asp-items="ViewBag.ThemeType" class="mdb-select md-form mb-1">
                    <option value="" disabled selected>Select Theme</option>
                </select>

                <a target="_blank" href="/StoreThemes/Defaults">Only Category (pink)</a>
                <a target="_blank" href="/StoreThemes/FullSlider">Full Slider (black)</a>
                <a target="_blank" href="/StoreThemes/HalfSlider">Half Slider (blue)</a>
                <a target="_blank" href="/StoreThemes/BannerBigImage">Full Banner image (gray)</a>

                <button disabled id="btnThemeChange" class="btn btn-danger m-0 mt-3">Change Theme</button>
            </div> 
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(function() {
            $(".mdb-select").materialSelect();
        });

        const btnThemeChange = document.getElementById("btnThemeChange");
        const selectTheme = document.getElementById("selectTheme");

        selectTheme.addEventListener('change', function(evt) {
            if (!this.value) return;

            btnThemeChange.removeAttribute("disabled");
        });

        //change theme
        btnThemeChange.addEventListener('click', function(evt) {
            if (!selectTheme.value) return;

            const model = { vendorId: @Model.VendorInfo.VendorId, theme: selectTheme.value };
            this.disabled = true;

            $.ajax({
                type: "POST",
                url: "/Dashboard/ChangeTheme",
                data: model,
                success: function (response) {
                    btnThemeChange.disabled = false;

                    if (response.IsSuccess)
                        alert("Theme changed successfully!");
                    else
                        alert(response.Message);
                },
                error: function (err) {
                    console.log(err);
                    btnThemeChange.disabled = false;
                }
            });
        });
    </script>
}
