@{
    ViewData["Title"] = "Seller Dashboard";
    Layout = "_SellerLayout";
}

<div class="m-3">
    <h3>Seller Dashboard</h3>
</div>


@section Scripts{
    <script type="text/javascript">
    </script>
}
