@{
    ViewData["Title"] = "Seller List";
    Layout = "_AdminLayout";
}

@section Styles{

}


<div class="m-3">
    <h4 class="page-header mb-3">Sellers</h4>

    <div class="card card-body">
        <table id="data-table" class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th><strong>Auth. Person</strong></th>
                    <th><strong>Verified Phone</strong></th>
                    <th><strong>Email</strong></th>
                    <th><strong>Store</strong></th>
                    <th><strong>Address</strong></th>
                    <th><strong>Region</strong></th>
                    <th><strong>Area</strong></th>
                    <th><strong>Postcode</strong></th>
                    <th class="text-center"><strong>Approve</strong></th>
                    <th class="text-center"><strong>Delete</strong></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts{
    <script>
        $(function () {
            dataTable.getData();
        });

        //get data
        var dataTable = {
            table: null,
            init: function () {
                dataTable.table = $("#data-table").DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "/Seller/SellerList",
                        type: "POST"
                    },
                    columns:
                        [
                            {
                                data: "AuthorizedPerson", "render": function (data, type, row, meta) {
                                    return `<a class="blue-text" href="/Seller/AssignCatalog/${row.VendorId}">${data}</a>`;
                                }
                            },
                            { data: "VerifiedPhone" },
                            { data: "Email" },
                            {
                                data: "StoreName", "render": function (data, type, row, meta) {
                                    return `<strong class="d-block">${data}</strong><small class="blue-text">${row.StoreSlugUrl}</small>`;
                                }
                            },
                            { data: "StoreAddress" },
                            { data: "StoreRegion" },
                            { data: "StoreArea" },
                            { data: "StorePostcode" },
                            {
                                data: "IsApproved", "render": function (data, type, row, meta) {
                                    return `<input id="${row.VendorId}" type="checkbox" ${data ? "disabled" : ""} ${data ? "checked" : ""} class="form-check-input"><label class="approve form-check-label" for="${row.VendorId}"></label>`;
                                }
                            },
                            {
                                data: "VendorId", "render": function (data, type, row, meta) {
                                    return `<a id="${row.VendorId}" class="delete fas fa-trash red-text" data-url="/Seller/DeleteVendor/${data}"></a>`;
                                }
                            }
                        ],
                    columnDefs: [
                        //{ 'searchable': false, 'targets': [1, 2] },
                        //{ 'sortable': false, 'targets': [1, 2] },
                        { 'className': "text-center", "targets": [1, 8, 9] }
                    ]
                });
            },
            operand: {
                Equal: 0,
                NotEqual: 1,
                GreaterThan: 2,
                LessThan: 3,
                GreaterThanOrEqual: 4,
                LessThanOrEqual: 5,
                Contains: 6,
                StartsWith: 7,
                EndsWith: 8
            },
            getData: function () {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            },
            addSign: function (data) { return `${data}/-` }
        }

        const onTable = document.getElementById("data-table");
        onTable.addEventListener("click", function (evt) {
            const element = evt.target;

            //approve
            const onApprove = element.classList.contains("approve");
            if (onApprove) {
                const cb = element.previousElementSibling;

                if (!cb.checked) {
                    cb.disabled = true;

                    $.ajax({
                        type: "POST",
                        url: `/Seller/ApproveVendor`,
                        data: { VendorId: +cb.id },
                        success: function (response) {
                            $.notify(response.Message, response.IsSuccess ? "success" : "error");

                            if (!response.IsSuccess) {
                                cb.disabled = false;
                            }
                        },
                        error: function (err) {
                            console.log(err);
                            cb.disabled = false;
                        }
                    });
                }
            }

            //delete
            const onDelete = element.classList.contains("delete");
            if (onDelete) {
                $.ajax({
                    url: `/Seller/DeleteVendor/${element.id}`,
                    success: function (response) {
                        $.notify(response.Message, response.IsSuccess ? "success" : "error");

                        if (response.IsSuccess)
                            element.parentElement.parentElement.remove();
                    },
                    error: function (err) { console.log(err); }
                });
            }
        });
    </script>
}
