@using eSuperShop.Repository
@model LoginViewModel
@{
    ViewBag.Title = "Seller Login";
}

@section Styles {
    <link href="~/css-page/Login.css" rel="stylesheet" />
    <style>
        .serach-container { display: none; }
    </style>   
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <strong class="dark-grey-text">Create account</strong>
                    </h5>
                    <form class="form-signin" asp-controller="Account" asp-action="AdminLogin" method="post">
                        <div class="form-row">
                            <div class="col-lg-7">
                                <div class="md-form mb-5">
                                    <input type="text" class="form-control">
                                    <label for="">Store Name</label>
                                    <span asp-validation-for="UserName"></span>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="md-form mb-0 pb-3">
                                    <input class="form-control" type="text">
                                    <label for="">Authorized Person</label>
                                    <span asp-validation-for="Password"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-5">
                                <div class="md-form mb-5">
                                    <input type="text" class="form-control">
                                    <label for="">Mobile Number</label>
                                    <span asp-validation-for="UserName"></span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="md-form mb-0 pb-3">
                                    <input class="form-control" type="email">
                                    <label for="">Email</label>
                                    <span asp-validation-for="Password"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-8">
                                <div class="md-form mb-5">
                                    <input type="text" class="form-control">
                                    <label for="">Store Address</label>
                                    <span asp-validation-for="UserName"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="md-form mb-0 pb-3">
                                    <input class="form-control" type="password">
                                    <label for="">Password</label>
                                    <span asp-validation-for="Password"></span>
                                </div>
                            </div>
                        </div>


                        <button class="btn btn-block btn-rounded btn-danger z-depth-1a mb-3" type="submit">Create account</button>
                        <div asp-validation-summary="ModelOnly"></div>
                    </form>
                   
                    <div class="modal-footer mx-2 pt-3 mt-5">
                        <p class="font-small grey-text d-flex justify-content-end">Already have account? <a href="/Seller/Login" class="blue-text ml-1">Sign In</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}