@{
    ViewData["Title"] = "Store";
    Layout = "_SellerLayout";
}

@section Styles{

}


<div class="container">
    <h4 class="page-header mb-3">Store</h4>

   
</div>


@section Scripts{
    <script>
       
    </script>
}
