
@{
    ViewBag.Title = "Registration Success";
}

@section Styles {
}

<div class="container">
    <div class="alert alert-success" role="alert">
        Your registration request has been accepted. You will notify soon.
    </div>
</div>


@section Scripts {
    
}